[2015-11-18 10:27] cdeil opened #2 "Add README?"
Can you please add a README file to the repo?

Markdown `.md` or RST `.rst` formats are common and nicely displayed by Github.

The info I'm looking for is how to get started, i.e. install `3ML` and run a first example.

[2015-11-24 00:01] giacomov commented on #2
You are definitely right. However, we are working on documentation, tests and a pretty major re-factoring of the models part. A README and working examples will be coming in the upcoming weeks as soon as the re-factoring is completed and usable.

[2015-12-10 22:40] sybenzvi opened #4 "io module in 3ML may clash with system io module"
On OS X Yosemite I can build 3ML and import it in ipython sessions, but oddly "import threeML" fails when running a plain python session.  I copy my error below.  After googling around it seems there is a possibility this error is caused by the fact that threeML contains an io directory which may be clashing with another io package in the system python; see comments here:

http://stackoverflow.com

[2015-12-11 00:21] giacomov commented on #4
Thanks for reporting this.

Changing a module name is not a long term solution, because someone else might one day write one with a similar name.

I investigated and found that the problem can be avoided by simply reordering things in the __init__.py file under threeML.

I am going to commit and fix this.

[2015-12-11 00:22] #4 closed

[2015-12-11 01:13] sybenzvi commented on #4
Thanks, this fixes it for me too.

[2015-12-16 17:06] sybenzvi opened #5 "MCMC calculation in examples folder appears to be obsolete"
It looks like the MCMC calculation in the notebook examples/090217206.ipynb uses an obsolete version of the JointLikelihood interface. As a result there is no documentation on the correct way to call the Bayesian calculations in the 3ML library.

[2015-12-16 17:17] giacomov commented on #5
Hi Segev,
thanks for noticing!

yes, the examples are outdated. I am working on an updated version to
upload, it will be coming up.

We have made radical changes in the last few months to prepare the support
for extended sources, I have been slow in updating everything to reflect
those changes.

On Wed, Dec 16, 2015 at 9:06 AM, Segev BenZvi <notifications@github.com>
wrote:

[2015-12-16 17:37] sybenzvi commented on #5
Sure, no worries. I was able to piece together a calculation by looking at the bayesianAnalysis interface, which seems pretty self-explanatory.

Unfortunately while the priors on the free parameters seem to work correctly, my PT MCMC always hovers around the values of the free parameters in the likelihood object before the calculation starts rather than exploring the full space. Perhaps I'm suppos

[2016-01-13 18:07] giacomov opened #8 "Cannot find configuration file"
This is a note for me:

-change the behavior of 3ML with respect to the configuration file: if there is none in ~/.threeML then look for a system copy under the python tree

[2016-01-30 00:48] giacomov opened #9 "Modify setup so that the boost.python wrapper is built only on demand"
The boost.python wrapper is needed only for plugins using C/C++. Add an option to the command line of the setup.py script so that the wrapper is not built by default, unless the "--with-boost" option is specified.

[2016-01-30 00:51] #9 closed

[2016-01-30 01:17] #2 closed

[2016-01-30 02:00] #8 closed

[2016-02-05 18:37] ColasRi opened #10 "Dependencies and Notebook"
Is 3ML supposed to be used mainly/only relying on notebook?
If not, maybe it would be good not necessarily require the notebook and its dependencies (eg zmq).
Eventually, 3ML installs properly but crashes at runtime:
[code]
Along these lines, can we display the formulas out of the notebook? Eventually just displaying the LaTeX code? From the current terminal output:
[code]

[2016-02-06 02:48] giacomov commented on #10
3ML should not depend on the notebook by design, so this is a bug.

The zmq dependency should not be there, I need to check what is causing that.

For the second problem we can change that as you suggest.

-----Original Message-----
From: "ColasRi" <notifications@github.com>
Sent: ‎2/‎5/‎2016 10:37 AM
To: "giacomov/3ML" <3ML@noreply.github.com>
Subject: [3ML] Dependencies and Notebook (#10)

Is 3M

[2016-02-22 17:26] cdeil opened #11 "Make matplotlib optional"
I'm getting this error when I try to import `threeML`.

In Astropy and Gammapy we put the `matplotlib.pyplot` import inside the function or methods that need it, so that matplotlib is an optional dependency.

Can you do the same for threeML?

[code]

[2016-03-21 20:28] giacomov opened #14 "Shared pointers in the HAWC likelihood package"
The HAWC likelihood API has been changed to accept only shared pointers. Change the HAWC bindings and the plugin accordingly.

[2016-04-14 17:45] giacomov commented on #14
Fixed.

[2016-04-14 17:45] #14 closed

[2016-04-19 18:28] ColasRi opened #15 "SpectralModel.formula is dangerous"
It is the formula people see (well, if they use a notebook) but not what is used for computation.
That creates a risk of inconstancy. For instance,
`LogParabola.formula=r'\begin{equation}f(E) = A E^{\gamma+\beta \log(E)}\end{equation}'` does not correspond to the actual function: `return norm * (energies/piv)**(gamma+beta*numpy.log10(energies/piv))`

[2016-04-20 15:26] giacomov commented on #15
Thanks for catching this.
In the new modeling package (astromodels) this should be easier to avoid than it is now.

[2016-04-21 17:49] woodmd opened #16 "Plugin to Support Binned Likelihood Profiles"
It would be useful to have a plugin that would be able to ingest binned likelihood profiles and use them to evaluate the likelihood in lieu of running the analysis software of the respective experiment.

Binned likelihood profiles are a way of encoding the likelihood function that preserves more information than a standard SED (i.e. flux points with 1 sigma errors).  The basic format would contain

[2016-04-22 03:49] #10 closed

[2016-04-26 07:11] woodmd commented on #16
I posted a first draft of a proposal for the [binned likelihood profiles FITS format](http://gamma-astro-data-formats.readthedocs.org/en/latest/results/binned_likelihoods/index.html).  In the next few weeks I'm planning to expand the page with more examples and use cases but I figured this would be a good reference point for further discussion.  Feedback/comments on the format would be welcome.

[2016-04-28 14:29] sybenzvi opened #18 "location of package version info in threeML"
Trivial comment: I noticed that access to the threeML package version is via

`threeML.version.__version__`

But the convention for most packages is `packagename.__version__`, where the `__version__` attribute is defined in the `__init.py__` file in the module. Because it's in an unconventional place I had to waste a few minutes looking for the version info. It would be nice to change this, which

[2016-05-26 08:59] drJfunk opened #19 "from threeML import * broken"
The import is broken because the uniform_prior no longer exists int he same place in astromodels.
I can't seem to find where it is to update the code.

[2016-05-27 07:46] #19 closed

[2016-05-31 21:16] drJfunk opened #23 "Saving progress/ fits"
Dear all,

I copy a conversation GV and I have been having here:

[2016-05-31 21:16] drJfunk commented on #23
I’m working on a fit saving method. I think I have a really neat, novel idea, but it will take some time. I hope by the end of the week. If we can get this together… we can maybe make an announcement soon that it is ready for certain things

[2016-05-31 21:17] drJfunk commented on #23
GV:

For saving fit results, can you explain the idea before implementing it, even if it's not fully formed? I am changing these days the format of the output of fitting and sampling routines to be more convenient when doing time-resolved fitting, and easier to save, so we should coordinate.

[2016-05-31 21:18] drJfunk commented on #23
The basic idea is an base object that is inherited for bayesian or MLE fits. It stores parameters/marginals loglike/posteriors knows about models, selections etc. This way after a fit is made, the user passes the object to fit_save (or calls fit save on the object?) and the relevant information is in a new object.

Now, this object can write a fits/binary file that stores all this information as w

[2016-05-31 21:19] drJfunk commented on #23
Hi,
I think this is a good thing to pursue. However, I don't think a custom format and a class is necessarily the way to go. I think we should divide things:

-saving the results of an analysis: a model from astromodels can already be saved and loaded from disk. Saving the samples or the likelihood profile is a very nice thing, but I would do it in a separate file. There are already discussions ab

[2016-05-31 21:23] drJfunk commented on #23
Ok: I agree this is better. So let's find a way to  keep the time resolved internal.

Pandas is good. I've been using it for a while now as well and it is really built for this type of thing.

If we go with pandas, I recommend using seaborn if we build plotting capability. Seaborn natively deals with pandas object.

[2016-06-01 12:38] sptfung opened #24 "Problem when trying to Bayes sample"
`samples = bayes.sample(n_walkers=50,burn_in=100, n_samples=1000)`

emcee: Exception while calling your likelihood function:
  params: [   0.23218572   -0.40348434  196.39287035]
  args: []
  kwargs: {}
  exception:
Traceback (most recent call last):
  File "build/bdist.macosx-10.10-x86_64/egg/emcee/ensemble.py", line 505, in __call__
    return self.f(x, *self.args, **self.kwargs)
  File "/usr/lo

[2016-06-01 13:08] giacomov commented on #24
Hi,
you need to define priors for all your parameters, they are required for the Bayesian analysis.

For example, if you have a power-law model, you can do it like this:
`

`

You can also use the convenience function set_uninformative_prior of the Parameter class, which defines the prior using the current boundaries for the parameter (you need to have bounds defined):

`
# Mind that there are no

[2016-06-01 13:11] sptfung commented on #24
Hi,

Sorry I should have mentioned that I have defined the priors for all my parameters, like this:

`cpl = Cutoff_powerlaw()`
`cpl.K.prior     = Log_uniform_prior(lower_bound=1E-2, upper_bound=5)`
`cpl.xc.prior    = Log_uniform_prior(lower_bound=1E2, upper_bound=2E3)`
`cpl.index.prior = Uniform_prior(lower_bound=-1.5,upper_bound=0.)`

[2016-06-01 13:15] drJfunk commented on #24
Yes,

I actually noticed something slightly different.

Sometimes you have to define the priors twice to get the to stick. If you do not, then you will thrown and error:

`bayes = BayesianAnalysis(model, data_list)
band.K.prior     = Log_uniform_prior(lower_bound=1E-2, upper_bound=5)
band.xp.prior    = Log_uniform_prior(lower_bound=1E2, upper_bound=2E3)
band.alpha.prior = Uniform_prior(lower_bound

[2016-06-01 13:22] giacomov commented on #24
Thanks both for the reports.

Please make sure you have the very latest versions from the repositories of both astromodels and 3ML.

Then, to understand where the problem is I need a minimal working example from both of you. Could you provide one?

[2016-06-01 13:31] drJfunk commented on #24
I just updated astromodels and no change:

If you run the Fermi_TTE example, you should get the same problem.

Execute the data and model setup, and go to the bayesian section

[2016-06-01 18:01] #24 closed

[2016-06-01 18:02] giacomov commented on #24
The problem has been corrected.

Also, now the BayesianAnalysis constructor enforce that all free parameters have priors defined.

I updated the Fermi_TTE example accordingly (BTW, that's awesome!)

[2016-06-02 13:43] drJfunk opened #25 "Seaborn Plotting?"
Since we will be moving to Pandas for storing tables, etc., should we look at using seaborn for data descriptive plots? For example, seaborn can make the corner plots very nicely, and also allow the user to pass their preferred colormap.

[2016-06-02 18:28] giacomov opened #26 "Exposure in FermiGBMLikeTTE"
Need to implement the proper computation of exposure for Fermi/GBM.

Fermi/GBM has a deadtime for each recorded event. Look at the code in GtBurst, close to where you got the other code, for the function which computes that exposure.

[2016-06-02 21:21] drJfunk commented on #26
Ah, ok, this is something I've been curious about. I will implement ASAP.

[2016-06-02 21:32] sptfung opened #27 "no FermiGBMLikeTTE?"
Hi,

I think the FermiGBMLikeTTE.py is not working?

I just reinstalled the new 3ML version today. When I type "Fermi" and hit tab, only FermiGBMLike comes up, no FermiGBMLikeTTE. Am I doing something wrong?

Thanks,
David

[2016-06-02 22:02] drJfunk commented on #26
So GBM has 2E-6 s of dead time per event. =>

 exposure =  (tmax - tmin)  -    N_evt * 2E-6
where N_evt is the number of events in the interval between tmin and tmax

This is the closet that I can find in any documentation.

[2016-06-03 00:22] giacomov commented on #26
Kind of, except that there is a larger deadtime for counts detected in the overflow channel.

This is a snippet of code which compute the deadtime for the GBM for one event, given its reconstructed channel PHA:

[code]

[2016-06-03 01:17] giacomov commented on #27
It might be that you got a broken version of the package. I was working on a pretty substantial refactoring of all the GBM-related classes to avoid code duplication.

Try again, updating both 3ML and astromodels to the latest version, and tell me if it works.

thanks!

[2016-06-03 01:19] giacomov opened #28 "missing function make_index"
The function make_index in the _hpd function in bayesian_analysis is undefined.

Also, since you are at hit @drJfunk , it is better to make the _hpd and _calc_min_interval as static methods of the BayesianClass. Just add the @staticmethod decorator before the definition, like:

[code]

and then of course you need to call them as self._hpd .

[2016-06-03 01:20] #15 closed

[2016-06-03 01:20] #5 closed

[2016-06-03 01:22] #18 closed

[2016-06-03 01:31] giacomov commented on #25
I like seaborn and I use it all the time, but at the same time is an experimental package from a Stanford PhD, don't know how long it will be supported, so I am hesitant to include in core functionalities.

I think one of the good things about seaborn is that you can import it before 3ML and it will automatically modify your plots.

Do you want to try that? If it doesn't work we might evaluate inc

[2016-06-03 09:08] drJfunk opened #29 "Non-convergence?"
When running the example:
`jl = JointLikelihood( model, data_list, verbose=False )`
`res = jl.fit()`

If in the next cell I run:

`res = jl.get_errors()`

I get the following:

`CannotComputeErrors                       Traceback (most recent call last)`
`...`
`CannotComputeErrors: MIGRAD results not valid, cannot compute errors. Did you run the fit first ?`

I'm assuming that maybe it is not conv

[2016-06-03 09:29] drJfunk commented on #25
Ah, yes, this always works.

The feature I like is the native pandas handling. However, if you feel seaborn will fade away, then we can always deal with this ourselves.

[2016-06-03 09:35] drJfunk commented on #26
Ok implemented in pull request of branch iss26

[2016-06-03 13:59] giacomov commented on #29
If that's the case, it should say so during the fit.

Do you have a working example?

MIGRAD is surprisingly not robust, and MINOS (used for error computation) even more so.

I want to implement a minimizer wrapping pyopt, which features global optimization techniques as well as newer and (hopefully) more robust minimizers.

[2016-06-03 14:02] giacomov opened #32 "check math?"
@drJfunk : what does "check math" mean in bayesian_analysis? :-)

[2016-06-03 14:03] drJfunk commented on #29
Ah good, I was recommended that tool (pyopt) as well. It seems it is converging and as you say, it throws no error. But I have to execute the main fit twice to not throw this error. I will look to make and example. However, it is occurring running the demo.

[2016-06-03 14:04] drJfunk commented on #32
Ah the effective number of parameters. I'm pretty sure I got it right, but wanted to remind my self to go over it again.

[2016-06-03 14:04] drJfunk commented on #32
I'll clean that up tonight

[2016-06-03 14:39] grburgess opened #33 "Adding PolyChord"
PolyChord is another nested sampling algorithm that hand handle multi-modal posteriors. It is an evolution over MULTINEST, but can be quite slow. It handles high dimensional parameter spaces very well because it uses slice sampling.

It is fairly easy to add on (they actually provide a python interface) and I've nearly completed this.
It will function in the same way as MULTINEST. However, they do

[2016-06-03 14:40] drJfunk commented on #33
PS: I have forked the PolyChord distro because it was only in CCForge and not easy to obtain. I added a kludge `make install` method as they do not provide one.

Hopefully, they will work on this for themselves

[2016-06-03 15:50] giacomov commented on #29
I just run the FermiGBM_TTE_Like Demo example and it worked without issues. That's weird.

I'm using the HEAD version of 3ML as of today, and iminuit version 1.1.1.

[2016-06-05 09:59] drJfunk opened #34 "Missing gbm folder in examples"
I have fixed this and put in a  pull request

[2016-06-05 10:09] drJfunk commented on #29
I have made a script demonstrating the problem (Run this in the examples folder.)
I am using iminuit 1.2. This could be the problem
The output I get:

`threeML.minimizer.minimization.CannotComputeErrors: MIGRAD results not valid, cannot compute errors. Did you run the fit first ?

![screenshot 2016-06-05 12 08 37](https://cloud.githubusercontent.com/assets/6764007/15804823/43eefbda-2b16-11e6-9722-

[2016-06-05 15:47] drJfunk opened #36 "Apply GBM gain correction to files"
The gain correction in the RSPs must be applied to the GBM LUT

[2016-06-05 15:48] #26 closed

[2016-06-08 08:40] #34 closed

[2016-06-08 08:41] giacomov commented on #29
Fixed this. It seemed to be related to having the initial deltas too large. Try again with the GBM TTE demo.

[2016-06-09 14:19] drJfunk commented on #28
This is fixed for now. Need to address 2D distribution in the future. Reopen if needed.

[2016-06-09 14:19] #28 closed

[2016-06-09 14:20] #27 closed

[2016-06-14 04:14] giacomov opened #37 "Reduce size of data for GBM example"
The size of the data directory has become too big to be kept in a github repository.

We should use only smaller data files for the examples. I just compressed the livetime cube for the LAT example.

Please leave only one NaI and one BGO as data for the GBM TTE example and modify the example accordingly.

[2016-06-14 10:32] drJfunk commented on #37
Done!

[2016-06-14 10:32] #37 closed

[2016-06-14 10:34] drJfunk opened #40 "Combining XRT and XSPEC examples"
To reduce files, I propose to merge the XSPEC and XRT demos to show off 1) XRTLike 2) XPEC models 3) joint fitting GBM and XRT data (the beauty of 3ML) I will have to add two GBM files.

[2016-06-15 20:47] #40 closed

[2016-06-15 20:47] #32 closed

[2016-06-15 20:48] #29 closed

[2016-06-15 20:49] giacomov opened #43 "Implement pyopt minimizer"
Pyopt:

http://www.pyopt.org/

is an awesome package which make available many minimizers with one interface.

I want to implement a minimizer using that to improve the robustness of our frequentists methods.

[2016-06-15 20:49] #25 closed

[2016-06-15 20:51] giacomov opened #44 "Use panda for results"
Using panda containers for results would make things much easier when performing time-resolved fitting or many fit one after the other.

Panda containers can be appended, merged, provide rich display functionalities and saved to disk.

[2016-06-15 20:51] giacomov commented on #23
See #44

[2016-06-15 20:51] #23 closed

[2016-06-18 17:10] drJfunk commented on #44
I agree. Pandas is very nice and contains all the ability to save to the disk. The question I have is should you make it so that when you load a pandas result, do you want it to contain all the info? (detectors used  etc.) It would probably make more sense to just use the notebook for this. However, if one is doing catalogs, then have all this in a file that can easily be turned into LaTeX would b

[2016-06-18 17:13] drJfunk opened #45 "Plotting of spectra"
We need a routine that is either attached to the model via atromodels or can read a model object and plot the results in a nice form.

I suggest that we do this via the model object in 3ML since it is data aware. I can work on this unless @giacomov has an idea.

[2016-06-18 20:05] giacomov commented on #45
I agree that the place for plotting routine is in 3ML, not astromodels. Astromodels does not depend on matplotlib nor any other plotting package and it would be better to keep it that way (although an optional dependence could be accomodated).

The Model object is in astromodels, so that's probably not the right place for the reason above.

Also, what do you mean by plotting of spectra? You mean j

[2016-06-18 20:09] giacomov commented on #44
I think the saving of the model and of the data should be separate, because the former can be used and read by other software, while the latter cannot (you need to use 3ML and have the same plugins installed).

However, all the plugins should be already pickeable, so we could easily provide a save_data(dataList) method which would save all the instances of the plugins in pickle (or dill) format so

[2016-06-18 20:13] drJfunk commented on #45
Exactly! But we should also plot contours for the JL objects by propagating the covariance matrix. I have a general method for this that is model agnostic.

We should enforce no plotting pseudo-model data points as this is non-sense.

I'll take a look at this. If you like, I will take it on.

[2016-06-19 16:31] giacomov commented on #45
Go for it!

Leave the covariance matrix part alone for the moment, I implemented a lot more minimizers than just minuit and had to change the API of the minimizer a bit. I am testing them, will commit next week.

-----Original Message-----
From: "J. Michael Burgess" <notifications@github.com>
Sent: ‎6/‎18/‎2016 1:13 PM
To: "giacomov/3ML" <3ML@noreply.github.com>
Cc: "Giacomo Vianello" <giacomo.via

[2016-06-21 01:12] #43 closed

[2016-06-23 07:53] drJfunk commented on #29
Just a note. I was still having this issue until pyOpt. But it is now fixed

[2016-06-27 06:15] drJfunk opened #48 "Model Comparison and statistics"
After doing several fits of different models, the user will want to compare them. It may be nice if we provide a class that does this properly.

For **MLE**:

The class prints out different ratios: **LRT**, **AIC**, **BIC**. It would be nice if we could somehow provide warnings when the model comparison is invalid (Warning: Models are not formally nested) but this would be very very difficult in g

[2016-06-27 12:57] grburgess opened #49 "sources/models etc. wrt plotting"
I'm having a little trouble understanding the understanding the general idea multiple sources w.r.t. plotting.

Since a joint fit uses the same DataList for all sources, how does one handle the concept of multiple sources when considering point sources? I've assumed that all sources would have the same model type (not the same model instance) when summing, but I think this is a bad assumption. How

[2016-08-29 13:49] drJfunk opened #51 "Jointlikehood display"
With the migration to pandas, should we abandon the custom tables in the JL display so that all the data (matrix, MLE, etc) are pandas? If so, I would like to make them a little nicer on the eyes with pandas style. Thoughts?

[2016-08-30 13:58] drJfunk opened #53 "Response and GBM files"
There seems to be an issue with the reading of GBM DRMs (similar to what I have seen with gammapy)

[code]

[2016-08-30 14:53] drJfunk commented on #53
I believe the issue lies in FOTRAN style indexing:

f_chan[i][j] = 1 implies that the first channel is the first entry (at least in GBM DRMs)
but the array indexing for Numpy would want this to be zero. you 1:128 is a 127 length array when you really want a 128 length array.

Is this general or GBM specific?

[2016-08-31 08:14] drJfunk commented on #53
Ok, so I tried the new plugin on XRT DRMs. It worked fine and they correctly specify the first channel as zero. GBM specifies the first channel as 1. I propose making and exception when there is a broadcast error where FCN has minus one removed. In fact, in my other code I was always doing this. I can make the change and commit. @giacomov , thoughts?

[2016-08-31 08:16] giacomov commented on #53
I have already corrected this a couple fo days ago and tested on a GBM matrix, probably there are different cases. Can you post somewhere the matrix which doesn't work?

This part is a little tricky, because if you get it wrong you can bias your spectral results in a non-obvious way, so we need to be careful and really understand what is going on.

[2016-08-31 08:19] drJfunk commented on #53
Here is an RSP (from the example folder) it does not natively work.

This change causes it to work:

[code]

[glg_cspec_n3_bn110731465_v00.rsp2.zip](https://github.com/giacomov/3ML/files/446713/glg_cspec_n3_bn110731465_v00.rsp2.zip)

[2016-09-02 11:09] drJfunk opened #54 "parameter bound = None causes error"
![screenshot 2016-09-02 13 08 54](https://cloud.githubusercontent.com/assets/6764007/18202111/7225cb30-710e-11e6-9d0a-fbc31cbfd002.png)

When using get contours:

[code]

[2016-09-02 11:12] drJfunk opened #55 "contours failing (possibly related to the get_child issue)"
From the TTE example

[code]

[2016-09-02 11:46] #54 closed

[2016-09-02 12:33] drJfunk commented on #54
Confirmed! Now the error has changed:

AttributeError: 'Model' object has no attribute 'get_child'

related to #55

[2016-09-02 16:52] giacomov commented on #55
Fixed.

[2016-09-02 16:52] #55 closed

[2016-09-02 16:53] giacomov commented on #53
@drJfunk I have fixed this already in the new OGIPLike plugin.

When you have time, please port the TTE plugin to the new OGIP plugin, by making it inherit from there instead of the old GenericOGIPLike plugin, and update the example as needed.

I already updated the basic_example.ipynb notebook for your reference.

[2016-09-03 11:37] drJfunk commented on #53
I see this now. However, why is FermiGBMLike working? I do not see it inheriting from OGIPLike.

+++++++++++++++++++++++++++++++
J Michael Burgess
+46 72-381 30 20
jmichaelburgess@gmail.com

[2016-09-03 12:00] giacomov commented on #53
yeah, I wanted to discuss with you what you would like to have in the parent class (OGIPLike) and what is instead specific to the GBM.

The plan is to retire GBMLike (or make it just another name of OGIPLike) as it is really confused and bug-prone.

At the moment there is only one method that we should definitely port, which is view_counts_spectrum.

Anything else which is important for any PHA sp

[2016-09-03 12:10] drJfunk commented on #53
I just realized what has happened and am taking a look at the TTElike. For the moment, I see the TTElike being similar to Veritas or HAWC or LAT because it has some additional functionality that is specific to the data type. I think TTELike can be the best GBM plugin because it enables more flexibility and just keeping an OGIPlike as an option is fine. I like some of the gammapy response functions

[2016-09-03 13:09] drJfunk commented on #53
However, the OGIPLike constructor isn't suitable for the TTE data. It will need to be virtualized, or the constructor will need to have the ability to customize the file type outside of PHA. We had the same problem originally, what path do you want to take @giacomov ?

[2016-09-03 13:41] giacomov commented on #53
I think the most sensitive would be to add a static method like "from_counts" to the OGIPLike class, so essentially you can build an instance on the fly without having to go through a .pha and a .bak file.

Would this be sufficient?

[2016-09-03 13:55] drJfunk commented on #53
Yes. I think I get the idea. Not to convolute the issue, but perhaps an EVENT class is warranted? This could be a solution that is general enough for other similar data types?
/J. Michael

Sent my iPhone

[2016-09-03 14:05] giacomov commented on #53
I like it. An EventList class which provides a get_pha method to get a PHA on the fly.

Are you going to work on this, or should I?

[2016-09-03 14:08] drJfunk commented on #53
I can grab it. Have you a suggestion of another data type outside of GBM tte that I can look at so that I don't make it too GBM specific?

/J. Michael

Sent my iPhone

[2016-09-03 14:13] giacomov commented on #53
I'd make a constructor which gets simple numpy arrays, and then you can make static methods like from_TTE to specialize to specific file formats (like pandas does with DataFrame and other containers).

Each mission is going to need a reader for their specific format, and at some point we will also need to support the universal format that the gammapy people are defining.

[2016-09-05 12:07] giacomov commented on #51
See #52

[2016-09-05 12:07] #51 closed

[2016-09-05 15:17] drJfunk commented on #53
Well, it turns out that GBM does not use the TLMIN keyword (at least not universally):
[code]

Therefore, the response code cannot read the file.
[glg_cspec_n3_bn080916009_v07.rsp.zip](https://github.com/giacomov/3ML/files/455286/glg_cspec_n3_bn080916009_v07.rsp.zip)

[2016-09-05 16:47] drJfunk commented on #53
I've added a way around this by assuming TLMIN = 1 when it cannot find it and will be committed with this entire update

[2016-09-06 06:26] drJfunk commented on #45
added with #50

[2016-09-06 06:26] #45 closed

[2016-09-06 06:26] drJfunk commented on #36
This is handled with ground processing automatically.

[2016-09-06 06:26] #36 closed

[2016-09-06 11:55] grburgess opened #57 "Add get_number_of_data_points() to prototype"
This would be useful to enforce because the value is used for statistical calculations post-fitting.

[2016-09-06 13:45] grburgess opened #58 "Adding ability to return log like (log prob) for a data point given a set of parameters"
For some statistical calculations, the quantity p(y_i | x_s ) where y_i are ith data point and x_s is the parameters for the sth iteration of an MC is essential. One way to return this (I believe ) is to have the log likelihood return before summing. This is of course OGIP style specific.

Is it possible to generally do this or force the plugin to have this capability?

[2016-09-07 07:21] drJfunk opened #59 "Combining plotting, statistics reporting into a post analysis class"
While leaving the ability to do these things separately is nice, it could be potentially cleaner to have a big post analysis class that does the following:

1) allow for plotting of the fits
2) do statistics reporting of the fits
3) flux/fluence calculations.

On point (3): does there exist a way either through astromodels or in the plugin base to compute fluxes? This seems like an essential abili

[2016-09-07 16:50] drJfunk commented on #59
I've added a flux class that is not dissimilar from the plotting class. you specify the unit, energy range, etc. and it returns a pandas dictionary of either the MLE propagated flux and errors or the Bayesian posterior distributions for the flux.

[2016-09-09 13:00] drJfunk opened #62 "OGIP Rebinner and errors"
In OGIPLike, the Rebiner is called on background errors when the background is gaussian distributed.

However, should it not be the sqrt(sum of the squares) ? @giacomov

If so, I'm working on this currently and will update.

[2016-09-19 15:47] giacomov commented on #49
@drJfunk is this still relevant? If so, can you expand on the question?

If this has been solved already, I'll go ahead and close the issue.

[2016-09-19 15:48] #53 closed

[2016-09-19 15:48] #44 closed

[2016-09-19 15:48] #59 closed

[2016-09-19 15:58] drJfunk commented on #62
I fixed it in an un pushed branch. I just added an extra method. I've modified this a bit actually. I'll clean it up and push for you to examine.

/J. Michael

Sent my iPhone

[2016-09-19 20:15] drJfunk commented on #49
This is a complex one. Perhaps needing a longer discussion.

[2016-09-19 20:20] drJfunk opened #64 "LAT Like display"
I believe the model-data/model residual plot has the label or the execution of the math reversed. They do not line up :)

[2016-09-19 20:48] giacomov commented on #64
Could you post a picture? I am not sure I understand what you are referring to, sorry...

[2016-09-19 20:52] drJfunk commented on #64
you have the residuals labeled (model -data)/model

but you are plotting data-model/ model

<img width="571" alt="screenshot 2016-09-19 22 51 25" src="https://cloud.githubusercontent.com/assets/6764007/18648602/a8612f22-7ebb-11e6-9e34-e2fa647df63c.png">

[2016-09-19 22:13] #64 closed

[2016-09-22 11:57] drJfunk commented on #62
fixed in #65

[2016-09-22 11:57] #62 closed

[2016-09-22 12:08] drJfunk opened #67 "Event list unbinned MLE fitting"
Right now EventList uses scipy to perform polynomial fitting of the time series.

1) should we switch the optimize? It seems to work, so perhaps there is no need

2) The current implementation uses a preset binned histogram to fit. Since these are events, should we not just switch to an unbinned method? I'm no expert on this approach so it would be nice to get your help/advice @giacomov

[2016-09-23 11:18] drJfunk opened #68 "Asymmetric MLE flux errors"
@giacomov I have been thinking about how to implement this and it is impossible post fit unless you do some kind of profile. Instead, we can tackle it as you said during the fit.

In the Jointlikelihood object, there can be a keyword such as "fit_for_flux" that is specified will turn the normalization(s) for components into fluxes. This is done for the new Band function in astromodels, but can do

[2016-09-29 07:13] #67 closed

[2016-09-29 07:17] grburgess opened #70 "Background subtracted data"
There are some cases where the background is subtracted off (Swift BAT) and normally, the lowest information statistic to assume for the variance is a normal distribution. However, it may be possible to substitute a Skellam distribution in this case. This is the difference between two Poisson variables. It asymptotically approaches a normal distribution, but has a more peaked structure at low "cou

[2016-10-03 13:51] drJfunk opened #74 "Priors for nuisance parameters"
I noticed in OGIPLike that the an uninformative flat prior was being used for the effective area correction.

I would suggest instead that we use a gaussian or even better, a cauchy prior for these:

1) we believe they should be centered on zero, so we have some information there.
2) while we would preferably set the variance of the distribution as a free parameter, we aren't going to do any fancy

[2016-10-05 23:13] giacomov opened #76 "get_errors() should return a pandas"
Right now get_errors returns a pandas containing the errors as string in the value column (which is the table that is displayed).

This is not optimal, it should return a DataFrame isntance with the errors as floats.

[2016-10-12 01:31] giacomov commented on #74
Hi,
1) they should be centered on 1, not on zero
2) this is interesting, however I'd prefer to keep the obvious choice of uniform priors. The only reason there is a "default" prior in the first place is that otherwise the BayesianAnalysis constructor will fail. However, the user can always override the default choice before running the analysis.

Regarding the Cauchy priors, you are definitely wel

[2016-10-12 01:32] #74 closed

[2016-10-12 01:33] giacomov commented on #70
As we discussed already in another channel, Swift BAT spectra are not the results of the subtraction of two Poisson distribution, so the Skellam distribution is not appropriate.

They should use Chisquare instead, which however is not implemented yet as statistic.

[2016-10-12 15:30] drJfunk commented on #70
Agreed. Now that I knows that this is the case. You want me have a look at adding this in?

[2016-10-12 15:31] drJfunk commented on #74
:) yes=>1 Ok. I'll handle this

[2016-10-16 10:22] #48 closed

[2016-10-18 18:38] grburgess opened #85 "non-profiled background"
As we discussed, we will add the ability to directly fit the background (modeled or not) in count space. The main question is the interface.

Since we will use a likelihood model for the background, we need to provide an OGIPBAKLike plugin. This can be created from a plugin (e.g. in the case of Fermi TTE data) or it can simply be created from a PHA BAK file. This mean that we should most likely ne

[2016-10-20 14:50] giacomov opened #90 "Tests failing"
Ogip tests are failing:

[code]

There are also some warnings about ARF file.

[2016-10-20 15:01] giacomov commented on #70
sure!

[2016-10-20 15:02] #68 closed

[2016-10-20 16:04] drJfunk commented on #90
Fixed in #91

[2016-10-20 16:04] #90 closed

[2016-10-21 08:36] drJfunk opened #92 "Simulated datasets crash because they do not have a native quality member"
This is related to the fact that simulated datasets do not pass a quality arguments to the PHAContaier

[2016-10-21 08:37] #92 closed

[2016-10-21 10:10] giacomov opened #94 "Produced PHA files are not compatible with XSPEC"
A .pha file produced with .write_pha of the OGIPLike plugin is not readable by XSPEC, because it is missing a column.

Furthermore, its GROUPING is not recognized.

Here is the XSPEC error:

[code]

Here is the code to reproduce the problem, using the data in attachment:

[code]

A probably unrelated problem is produced by this similar code, using one of the .pha files in the examples:

[code]

an

[2016-10-21 11:38] drJfunk commented on #94
@giacomov I'm on this. Good catch! What time scale do you need this on? I'm busy until this afternoon EU time.

[2016-10-21 11:54] giacomov commented on #94
no worries, no rush on my side. I'm going to be offline (traveling) the whole weekend.

[2016-10-24 21:22] drJfunk commented on #94
fixed with #95

[2016-10-24 21:22] #94 closed

[2016-10-25 19:58] omodei opened #97 "Mac OS 10.10 installation and compilation with anaconda"
I have success to install everything on my mac using anaconda. After installing root (6.04), I had to change the _iminuit_ requirement to 1.1 (1.2 seems to not be available for mac on anaconda).

[2016-10-25 21:10] giacomov commented on #97
thanks for the info!

Regarding iminuit, if you can, what does happen if you try to install it separately using pip:

What does pip say?

[2016-11-01 15:53] Vlasticak opened #101 "get_errors() complaining when doing an error estimate"
Hi,

I do the fit and then I want to get errors on my free parameters but when I run get_errors function it crashes with this message:

CannotComputeErrors                       Traceback (most recent call last)
<ipython-input-39-0e812a6f9996> in <module>()
      8 jl2.fit()
      9
---> 10 jl2.get_errors()

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/threeML-0.3.

[2016-11-01 16:21] giacomov commented on #101
Hi,
this usually happens when there are one or more unconstrained parameters in the fit.

Can you post the entire output from your call to jl2.fit()?

[2016-11-01 17:32] Vlasticak commented on #101
Here it is:

Best fit values:

#	Name	Best fit value	Unit
0	trigger.spectrum.main.composite.phoindex_3	1.185 +/- 0.011
1	trigger.spectrum.main.composite.norm_3	0.946 +/- 0.006	keV / (cm2 s)
2	trigger.spectrum.main.composite.kt_4	1.10 +/- 0.08	keV
3	trigger.spectrum.main.composite.norm_4	0.0091 +/- 0.0018	keV / (cm2 s)

NOTE: errors on parameters are approximate. Use get_errors().

Correlation matr

[2016-11-01 17:51] giacomov commented on #101
ok, so there doesn't seem to be anything wrong with the fit.

Can you attach the data files, so I can reproduce the problem and look into it?

[2016-11-01 18:07] Vlasticak commented on #101
Here they are.

[Archive.zip](https://github.com/giacomov/3ML/files/564676/Archive.zip)

[2016-11-04 20:24] giacomov commented on #101
@Vlasticak : I cannot reproduce your problem. This is what I did:

[code]
with these results:

[code]

Then I tried to compute the errors, and it worked:

[code]
[code]

I see from the log you posted earlier that your parameters are called differently, like trigger.spectrum.main.composite.phoindex_3 instead of mine  trigger.spectrum.main.composite.K_1. Did you have more than one source in your mod

[2016-11-05 09:20] Vlasticak commented on #101
You are not using the same model as I am. It is XSPEC model and the models are: phabs*zphabs*pow and phabs*zphabs*(pow+zbb). I am traveling until Tuesday and don't have laptop with me and don't remember all parameters od phabs and zphabs I just remember that redshirt is 0.677.

[2016-11-18 12:08] drJfunk opened #102 "GOF failing due to lacking callback"
The minimizer in use member is now returning a callback and GOF was not expecting it.

[2016-11-18 20:21] #102 closed

[2016-11-18 20:22] giacomov commented on #101
@Vlasticak When you have time can you give me the details of your model so I can reproduce the problem?

Thanks!

[2016-11-18 20:38] Vlasticak commented on #101
Hi,

sorry for not addressing this sooner.

`xspec_abund('angr')

spectral_model =  XS_phabs()* XS_zphabs() * XS_powerlaw()

spectral_model.nh_1=0.0148
spectral_model.nh_1.fix = True

spectral_model.nh_2=0.194134
spectral_model.nh_2.fix = True

spectral_model.redshift_2 = 0.677
spectral_model.redshift_2.fix =True

spectral_model2 =  XS_phabs()* XS_zphabs()*(XS_powerlaw()+XS_bbody())

spectral_mode

[2016-11-19 01:47] giacomov commented on #101
I still cannot reproduce your error, but I am guessing a lot of things (the channels you use, the minimizer, and so on).

Can you please post a script that does everything you do (from importing threeML to the error), so that I can do exactly as you do from start to finish?

Thanks,

[2016-11-20 11:23] Vlasticak commented on #101
%matplotlib notebook
import os
os.environ["MKL_NUM_THREADS"] = '1'
os.environ["NUMEXPR_NUM_THREADS"] = '1'
from threeML import *
xrt = OGIPLike('xrt',pha_file='dio1.pha')
xspec_abund('angr')

spectral_model =  XS_phabs()* XS_zphabs() * XS_powerlaw()

spectral_model.nh_1=0.0148
spectral_model.nh_1.fix = True

spectral_model.nh_2=0.194134
spectral_model.nh_2.fix = True

spectral_model.redshift_2 = 0

[2016-11-29 08:28] drJfunk opened #105 "Joint likelihood set and area correction factors"
Perhaps I'm missing it somewhere, but it seems the correction factors do not get fitted with a  during a set fit. Could this be a bug or should it be done in the data getter?

[2016-12-01 21:21] giacomov commented on #105
Yep!
you need to set up the correction factors yourself in the data getter.

[2016-12-01 21:21] #105 closed

[2016-12-02 01:09] giacomov opened #107 "SpectralFlux fails with nuisance parameters"
The method model_flux fails if there are nuisance parameters, with an error like this:

[code]

In this case I had a model with 5 parameters + 3 nuisance parameters, so the covariance matrix has the right dimensions (8x8) but the parameters vector inside model_flux appears to have the wrong one (5 instead of 8).

Note that, correctly, the free_parameters property of the jl.likelihood_model object

[2016-12-02 01:20] giacomov opened #108 "Results of SpectralFlux.model_flux are out of order"
[code]
gives:

[code]

The reason is that dictionaries do not preserve input order in python, so when the dictionary is transformed in pandas DataFrame the order of the columns is random.

@drJfunk : use collections.OrderedDict() instead of {} to preserve the order.

[2016-12-02 01:20] #108 closed

[2016-12-02 17:22] #107 closed

[2016-12-05 15:32] drJfunk opened #111 "config Singleton"
Perhaps it may be a good idea to implement the config object as a Singleton. This way one can change it in the notebook and those changes propagate to files that use the config rather than just re instantiating a new class without the local changes. Thoughts @giacomov ?

[2016-12-05 15:50] drJfunk commented on #111
Heh, never mind, this is not needed!

[2016-12-05 15:50] #111 closed

[2016-12-09 14:56] grburgess opened #113 "Time dependent likelihood"
@giacomov, I've pushed a branch that has an early implementation of the time likelihood. Could you post here your idea for handling the integral? The Stepfunction I implement can handle the interval... but it seems that we will have to modify the photon model on the fly to make it an integral over time. Plus we need to check units to deal with exposure.

[2016-12-14 18:24] giacomov opened #114 "Improve configuration file handling"
The mechanism to handle the configuration file can be improved, as detailed in issue #110

[2016-12-14 21:29] #114 closed

[2016-12-18 11:00] grburgess opened #119 "docker and test"
When I'm pushing tests to a branch other than master, the docker/travis install is not registering those new test. I'm not sure if the docker does not see them, but,  they are only tested after I merge back into the master. Any idea @giacomov?

[2016-12-19 22:28] grburgess commented on #119
fixed by @giacomov

[2016-12-19 22:28] #119 closed

[2016-12-19 22:29] grburgess opened #125 "add Pyopt and MULTINEST to hawc docker"
This will allow us to increase the test coverage.

[2016-12-19 22:30] grburgess opened #126 "Speed up significance binning in EventList"
Follow the example in the bayesian blocks code

[2016-12-19 22:30] grburgess opened #127 "Add bad quality flags to LLE plugin"

[2016-12-23 10:57] grburgess opened #130 "Add GBM GRB catalog reader for catalogs"
design a ,method to get source/ background regions from the GBM online catalog so that catalog fitting can be automatic

[2016-12-23 21:05] grburgess commented on #126
Fixed in #131

[2016-12-23 21:05] #126 closed

[2017-01-03 17:03] grburgess opened #135 "RSP2 style matrices"
@giacomov, how do you want to real with these? I think a subclass of the Response.py that does the weighting is really the only way to make the code clean. Otherwise, we could add on some types of checks. However, I think classes rather than cases is cleaner ;)

Your thoughts?

[2017-01-06 07:14] grburgess commented on #135
Added in #136

[2017-01-06 07:14] #135 closed

[2017-01-06 07:15] grburgess commented on #130
Added in #134

[2017-01-06 07:15] #130 closed

[2017-01-10 08:40] grburgess commented on #127
Taken care of in #138

[2017-01-10 08:40] #127 closed

[2017-01-10 08:41] grburgess opened #139 "PHA class to replace PHAContainer"
Follow @giacomov design for RMFs and add fully qualified PHA classes

[2017-01-14 09:20] grburgess opened #142 "Spectrum class common interface"
Since we will have a common spectrum class which has a common interface to FITS and ROOT files and should make no difference between seeing a file on disk and in memory, this mean we can easily go from ROOT -> FITS. This could be quite useful for XSPEC testing of ROOT data.

I'm not sure if this functionality exists anywhere else in a general form. Should we make this a goal @giacomov ?

[2017-01-19 05:41] grburgess commented on #139
#141 fixes this

[2017-01-19 05:41] #139 closed

[2017-01-20 15:08] #49 closed

[2017-01-20 15:08] #70 closed

[2017-01-22 19:56] grburgess opened #149 "TimeInterval class"
@giacomov, should we integrate your TimeInterval class throughout the code?

[2017-01-23 19:08] giacomov commented on #149
Looks like you did already. Shall we close this?

[2017-01-23 19:09] giacomov commented on #142
I'm closing this as it is already solved.

[2017-01-23 19:09] #142 closed

[2017-01-24 04:25] grburgess commented on #149
#151 fixes

[2017-01-24 04:25] #149 closed

[2017-01-30 12:43] fryde opened #159 "Fit with a combination of models including Composite"
Hi,
This bug is similar to my earlier issue: I am doing analysis with a Composite model and want to do a JointLikelihoodSet and GoodnessOfFit. This time I have added a model to the Composite model: e.g.  Composite + Powerlaw. I then get this error message:

UnknownFunction                           Traceback (most recent call last)
<ipython-input-301-50539061b314> in <module>()
      7 bgo0.fix_ef

[2017-01-31 06:54] grburgess opened #160 "ROOT minimizer fail"
I'm still looking to the cause of this... though debug is providing no traceback. In the basic test notebook:

[code]

Out:

[code]

[2017-01-31 15:14] grburgess commented on #160
Ok, as @giacomov pointed out to me, the problem is ROOT6. For Mac installation, it is best to build from source. If using a python virtualenv, then you need to make sure to build ROOT against the venv which contains the 3ML distribution.

[2017-01-31 15:14] #160 closed

[2017-02-14 19:09] giacomov commented on #159
This should be fixed now. Closing it.

[2017-02-14 19:09] #159 closed

[2017-02-16 16:56] grburgess opened #166 "rebiller tuple unpacking"
I forgot to unpack all rebiller tuples... @giacomov will you grab this in your next commit or shall I get it now?

[2017-02-17 07:46] fryde commented on #159
Many thanks for this and a very nice analysis tool!

Felix

On 14 Feb 2017, at 20:09, Giacomo Vianello <notifications@github.com<mailto:notifications@github.com>> wrote:

This should be fixed now. Closing it.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/giacomov/3ML/issues/159#issuecomment-279803905>, or mute the thre

[2017-03-14 10:20] grburgess opened #170 "analysis results and propagate"
I have noticed that propagate is having and issue with the XSPEC absorption models.

I have a model that looks like this:

`spectral_model =  XS_phabs()* XS_zphabs() * XS_powerlaw()`

I do a fit and then try the model plot.

I plot have attached a plot that shows 4 things:

1) the plot directly from astromodels
2) the plot of the function I pass to propagate.
3) the propagated function where I hav

[2017-03-14 16:27] giacomov commented on #170
I'm trying to reproduce your problem.

Does this show up the same for different iterations of the same fit, or it is more random in nature?

Can you provide a minimal working example?

[2017-03-14 16:28] grburgess commented on #170
It is general and not random. I will wrap up and example and attach in just a moment. Will you need some XRT data?

[2017-03-14 16:34] giacomov commented on #170
maybe. In the meantime, what is the best fit value for Nh?

[2017-03-14 16:36] grburgess commented on #170
Here is a full working example. the best fit is in question ;)

but the problem is surely in propagate regardless of the fit values.

[test.zip](https://github.com/giacomov/3ML/files/842032/test.zip)

[2017-03-14 21:31] grburgess commented on #170
And it is fixed. Thanks @giacomov !

![unknown-2](https://cloud.githubusercontent.com/assets/6764007/23923177/ef15f0d6-0905-11e7-99c6-9655d4375840.png)

[2017-03-14 21:31] #170 closed

[2017-03-15 16:30] #166 closed

[2017-04-04 07:42] grburgess opened #175 "Countors/ corner plots from analysis results"
@giacomov the ability to save analysis results is really great!

However, it would nice to be able to post compute some quantities from them. For example, with a joint likelihood set, it is not currently possible to make contour plots, but if we connected them to the AnalysisResults class, then we could post compute these.

 Of course, this requires data which is not stored, so this may in fact be

[2017-04-10 15:26] grburgess opened #178 "models with too many parameters causing crash due to numpy"
I'm using an XSPEC model with many parameters, but most fixed. When trying to plot the model after the fit, the np.vectorize command is causing a crash:

[code]

There was a similar issue with Theano: https://github.com/Theano/Theano/issues/3052

but I have yet to figure out how they solved it.

I will keep looking, but for now, if anyone tries this please keep convo here.

[2017-04-10 18:03] grburgess commented on #178
It appears that this is an issue deep in Numpy:
https://github.com/numpy/numpy/pull/5673

Theano seems to have gotten around it, but it is rather annoying for us. Still investigating.

[2017-04-13 13:34] grburgess opened #180 "LRT with different minimizers per model"
I am attempting to the run LRT on two models where I have used two different minimizers but the LRT selects the minimizer of the jl_0 to fit simulations of jl_1, which, in my case, is a GRID minimizer with specific parameters. Should we modify the LRT to use the correct minimizer?

[2017-04-13 19:57] giacomov commented on #180
Does it really make a difference? The fit will start from the best fit values already stored in the JointLikelihood objects, so it shouldn't be necessary to do the grid fitting again (which is super slow)...

[2017-04-13 20:03] grburgess commented on #180
True. But, it causes the fit to fail because it invokes the grid minimizer which is looking for model parameters that do not exist. One could change the minimizer of course, but it could confuse people. Get what I am saying?

[2017-04-13 22:24] giacomov commented on #180
Look at the code [here](https://github.com/giacomov/3ML/blob/d02e899526d6c94f2b752cf47e4ddfec6858cad7/threeML/classicMLE/likelihood_ratio_test.py#L109-L113): as you can see, I am using the feature of the JointLikelihoodSet object which is able to fit more than one model at the time. This implies that it will use the same minimizer for both models.

I am going to add a set_minimizer method to the L

[2017-04-14 11:02] grburgess commented on #180
I think that will work fine. I can always switch myself, but this will make it explicit.

[2017-04-27 11:48] grburgess opened #185 "Reloading a fit with external parameters"
Say I have made a fit and stored to an analysis result and used external parameters in the model. Now I would like to reload that fit and the associated plugins. I know how to manually go through and set up the nuisance parameters, but when I pass them to a JL object, they are overwritten and fixed. This mean effective area corrections are lost in the JL object.

Is there a nice way to keep this f

[2017-04-27 12:32] grburgess commented on #185
For now, I am doing this:

[code]

[2017-04-29 14:50] grburgess opened #187 "reading of certain fits types failing."
I found a bug in our fits reader that we need to correct.

While the GBM CSPEC files claim to contain integer counts of type 128I -> signed short,
they are actually 128U -> unsigned short. This is fine and numpy dtype is mapped to:

[code]

however, astropy does not support this data type:

[code]

So I suggest we remap the unreadable ints to a different format. I am not sure what type of effect t

[2017-04-29 18:19] giacomov commented on #187
I am not sure I understand. What has astropy to do with our reader? When does the problem arise in 3ML?

Regarding the 'U' format, it is supported by FITS:

https://heasarc.gsfc.nasa.gov/fitsio/c/c_user/node23.html

[2017-04-29 18:23] grburgess commented on #187
It is supported by fits, but not by astropy. So when we try to use this line:

ln 211 in fits_file.py
[code]

it complains the the 'U' is not supported. I found that if I just use 'I' and 'J' for these data types, it works.

Think we can just use that quick fix?

[2017-04-29 18:23] giacomov commented on #187
It also looks like astropy does support unsigned integers:

http://docs.astropy.org/en/stable/io/fits/

by automatically reading them starting from >= 1.1.0. Before that version we would need to add a keyword to the .open() method.

Which version are you using?

[2017-04-29 18:26] grburgess commented on #187
I am using '1.3.2'

looking at the source code I pasted above, I'm not sure where they are reading those types.

[2017-04-29 19:10] giacomov commented on #187
One thing we can try is to construct the astropy.Table instance from the pandas, and then write that to file. That should take care of the unsigned int without us doing anything special.

I can look at this monday if you don't have time now.

[2017-04-29 19:13] grburgess commented on #187
I always have time ;)

I fixed it by doing this:

[code]

I doubt this will affect anything as computers have big memory and integers can't change very much.

[2017-04-29 19:36] giacomov commented on #187
Thanks! However, you need to make sure that you can write and read and back the file without the numbers changing (ideally this check should be in a test). If you cast an integer to an unsigned integer, it will change value in C/C++ (because the bits are interpreted differently).

[2017-04-29 19:37] grburgess commented on #187
alright. I'll check it out.

[2017-05-03 20:04] #187 closed

[2017-05-16 20:59] volodymyrss opened #194 "issues with installation of astromodels by dependency from 3ML"
while doing so:

pip install git+https://github.com/giacomov/3ML.git

astromodels is installed by dependency from 3ML, but in this case importing causes segfault somewhere in node_ctype.

The recommended way to install is 3ML first then astromodels, which works, but seems unusual.
Not strictly an issue, just wondering why is it not possible to install 3ML with all dependencies from pip.

Is it bec

[2017-05-17 19:04] giacomov commented on #194
Yeah, the version in pypi is not kept up to date with the latest developments.

We are still figuring out what is the best way of releasing 3ML to the people who don't want to do development at all. At the moment I am experimenting with conda.

Pip is a good solution, but it doesn't always work in all scenarios that we have (for people using software from their own mission, for example).

[2017-05-17 19:49] volodymyrss commented on #194
I see, thanks! Segfault was just quite unexpected, but I guess it can happen in a version mismatch.

For INTEGRAL software for some years I've been using and distributing (privately for now, to some projects) docker images.  More astronomical projects in Geneva are moving in this direction too.
So I installed with pip git+ssh on this image, and run 3ML in jupyter or as part of INTEGRAL pipeline.
I

[2017-05-17 20:38] giacomov commented on #194
3ML is open source, so you can redistribute it without any problem (just put the LICENSE file somewhere, that's required by our BSD-3 license).

I keep thinking about the docker solution. Ideally having one plugin in one container would be ideal from the distribution point of view, but it comes with several drawbacks:
-heavy on resources
-heavy on disk space
-it makes difficult to parallelize comp

[2017-05-18 10:26] volodymyrss commented on #194
We actually work on making OSA for community, and it's not an easy thing to guarantee that it will compile on an arbitrary platform. I guess it is possible, in principle to make a conda OSA package valid for some platforms. But it would require very specific dependencies, starting from some non-arbitrary toolchain, fortran, then ROOT.
Would it be even possible and if it will, will they not conflic

[2017-05-18 10:30] volodymyrss commented on #194
That is, your goal, if achieved, would be quite useful for the community. I am just not sure how easy is it going to be to maintain it, considering that the software and the environments are evolving.
Though it seems it does not prevent more simple usage of the 3ML, which  I am exploiting right now :)
Oh, we should put a reference somewhere or/and citation, I guess.

[2017-05-23 17:53] giacomov commented on #194
The point of conda is that you have to build once for each of two platform: osx and linux (we do not support windows). The runtime environment is consistent between conda installation on any linux distribution and on (decently recent) versions of Mac.

So you go from the need of supporting n (with n big) linux distributions and the various Mac dev environments (homebrew, macport and so on) to the

[2017-05-23 18:26] volodymyrss commented on #194
That does sound nice.
But is there really no dependency on the OS libs? E.g. libc, some X11. It seems that these problems are not uncommon with conda...
And what if the environment used in conda build evolves?.. Developers need to readjust? This would not work with legacy software.
Well, it takes some further experience with heavy packages, like Sciencetools, heasoft, OSA..

[2017-05-30 12:58] volodymyrss opened #206 "XS_gabs model is not correctly imported"
I am not sure yet what is the cause, but the model takes only 0 or 1 values, no intermediate, independently of the strength. Position and width still work, but fit breaks, naturally, due to lack of sensitivity to strength.
cyclabs e.g. works well (but I don't need it now).

[2017-05-30 15:40] grburgess commented on #206
@volodymyrss are you just needing to use a Gaussian? astromodels has that already (which could be much faster).

But I do not see where gabs only takes 1 or 0

[2017-05-30 16:16] giacomov commented on #206
I think I know what you mean. We had a similar problem in the past, but we thought we have solved it.

Make sure you have the latest version of threeML, and also clean up all the "XS_*.py" files in the directory ~/astromodels/data and try again.

The files in ~/astromodels/data are created the first time you import the xspec part of astromodels. It could be that you still have versions of those fi

[2017-05-30 16:16] volodymyrss commented on #206
I need in principle specific gaussian parameterization used in xspec, for consistency. Otherwise I have to keep converting parameters. Especially since it's gaussian absorption...

![image](https://cloud.githubusercontent.com/assets/3909535/26591977/a48f1dda-455f-11e7-9b45-a3765bff4aad.png)

[2017-05-30 16:35] volodymyrss commented on #206
I run all inside docker, so the environment is, in principle, quite clean of any previous artifacts (ha! an advantage of ephemeral dockers).

I have just rebuild it with astromodels commit c86e4e0d (last one) and  get the same problem.

[2017-05-30 16:41] volodymyrss commented on #206
I just have some concern with the fact that astromodels is installed twice: once by dependency of threeML from pip, and then from git once again.

[2017-05-30 16:43] grburgess commented on #206
I do not think that will cause a problem (though I do not like that). I am taking a look right now

[2017-05-30 16:54] grburgess commented on #206
I get the same problem. It is also strange that this is NOT a gaussian. I'll have a look at the XSPEC source code

[2017-05-30 16:58] volodymyrss commented on #206
well it is (it is supposed to be) a gaussian absorption, and I see now that while function composition in astromodels is generally more advanced than in xspec, it does not allow to make an absorption of out if it...

https://heasarc.gsfc.nasa.gov/xanadu/xspec/manual/node232.html
![image](https://cloud.githubusercontent.com/assets/3909535/26594833/91a47d0a-4569-11e7-9232-e231ec90ea31.png)

[2017-05-30 17:02] grburgess commented on #206
@giacomov I think this is the same problem that we saw with the other absorption spectra (which I thought was fixed)

[code]

It looks like they are looking for the width across the bins again... if I remember correctly. Thus, the problem exists in Sherpa too.

[2017-05-30 17:11] giacomov commented on #206
Ok,
let me look into it. I'll get back to you here.

@volodymyrss what do you mean by:

?

[2017-05-30 17:18] volodymyrss commented on #206
i mean I can make some approximation of absorption like this (it's just first expansion term):

``
``

``python
1-Gaussian()
``

[2017-05-30 17:22] grburgess commented on #206
It's most likely an error in the wrapper because XSPEC evaluates models at energy boundaries. We have run across this before with other absorption models.

Sent from my iPhone

[2017-05-30 17:30] volodymyrss commented on #206
Note that `cyclabs` works just fine (or even phabs, for that matter).  Maybe it helps that not all absorption models are broken.

[2017-05-30 18:15] giacomov commented on #206
@volodymyrss you can obtain what you want by using the .of() method, like:

[code]

The support for this is a little clunky, as we didn't really have a use case for it. It should work without issues in the fit, but if you want the units to work (which are needed for plotting, for example), you need at the moment to manually fix them:
[code]

[2017-05-30 23:48] #206 closed

[2017-05-30 23:49] giacomov commented on #206
I fixed this in astromodels.

The issue was that some of the multiplicative models require numerical differentiation because they compute the integral of the model over the energy bin. The "gabs" model is one of those.

[2017-05-31 12:30] volodymyrss commented on #206
Yes, this works. Also the implementation is quite a bit faster than interface to xspec (though I have a feeling xspec alone was faster; I need to try more minimizers).
Thanks a lot!

[2017-06-01 13:34] hayalaso opened #207 "HAWC, writing model map"
For the HAWC plugin, the current version requires to calculate the TS value before writing a model map. Adding the line in the function write_model_map

self._fill_model_cache()

before calling the LiFF function WriteModelMap fixes the problem

[2017-06-01 22:32] #207 closed

[2017-06-02 14:11] volodymyrss opened #208 "hierarchical way to address model components"
what is the easiest way to address the composite models components and their parameters?

[2017-06-02 14:45] volodymyrss opened #209 ""Current minimum stored after fit and current do not correspond!" messages with all PyGMO algorithms"
I am getting "Current minimum stored after fit and current do not correspond!" messages with all PyGMO algorithms for a very simple model and data, which works with MINUIT.

[2017-06-02 14:55] volodymyrss opened #210 ""The fit failed to converge." messages do not leave useful information"
It is pretty hard to trace the issue that lead to the "The fit failed to converge." message.
Is it possible to report the best parameters achieved, some additional information about the explored parameter range?

[2017-06-02 15:04] #194 closed

[2017-06-02 16:02] volodymyrss opened #211 "PyGMO minimizer expects alrogrithm name or instance?"
PyGMO minimizer  expects alrogrithm name or instance?..

[code]

[2017-06-02 19:56] volodymyrss commented on #210
I understand that it can be done for example with get_contours afterwards, but if exception raises somewhere deep the state of the objects may not allow that.
What I did for myself is replace these exceptions with warnings. It should be clearly recorded too in the state that the parameters are not the best fit.
I am not certain this is the best solution though.
What do you think?

[2017-06-02 20:00] volodymyrss commented on #209
I was able to narrow it down a bit. I verified that `pagmo_minimizer.PAGMOMinimizer` itself works well on custom functions (e.g. `lambda x:(x-1)**2`), with various algorithms.

But if called through 3ml with something like `<bound method JointLikelihood.minus_log_like_profile of <threeML.classicMLE.joint_likelihood.JointLikelihood object at 0x7fc2c0b81190>>`, it never does any iterations: it alway

[2017-06-03 10:41] grburgess commented on #209
Yup. I am having this issue too. Also pyOpt appears to be broken

[2017-06-03 10:54] grburgess commented on #209
I am now getting this via pyOpt and it seems connected to their distribution and not 3ML

[code]

[2017-06-03 10:56] grburgess commented on #211
You should make an instance:

[code]

[2017-06-03 11:54] grburgess commented on #209
I fixed the issue with pyopt and emailed the developers. Development seems dead at the moment, so I just put it on git hub with my changes:

https://github.com/grburgess/pyOpt-1.2.0

[2017-06-03 19:00] volodymyrss commented on #211
The call to `set_algorithm` is from inside 3ml, in ProfileLikelihood, see the exception above.
It seems dangerous to change it there. It should work with all minimizers.
So instead I, for myself, made the pagmo minimizer accept both algorithms and their names as strings.

I am not sure that this is best.

Most of all, I do not want to make a pull request before it is possible to make travis unit t

[2017-06-03 19:04] volodymyrss opened #213 "ROOT minimizer returns covariance matrix with only NaNs"
Sorry for this deliberately non-specific issue, but this is happening to me often in many situations.
I am wondering if you have seen this?

I can provide a unit test with example data, if travis tests support root.

[2017-06-03 19:55] volodymyrss commented on #209
Between pagmo and pyopt not usable right now, I must say there is a bit of a crisis with good minimizers in 3ml, especially global. I also find ROOT often returns covariance full of NaN (#213).
For complex models with many lines it becomes a bit of an issue.

I am trying to do what I can, but I am not sure how to organize it best. Should I wait for functioning unit tests depending on third-party p

[2017-06-04 08:32] grburgess commented on #213
@volodymyrss This is normal if the fit is not working. I think people are far to familiar with LM optimization just spitting out numbers. The best way to make sure that the algorithm is working is with simulated data where the answer is known. Otherwise, if you can show an example where the fit is working with another software, this could really help narrow down the issue.

[2017-06-04 08:50] volodymyrss commented on #213
Sometimes fit is not working and raises exception, sometimes it pretends to work and gives the values near-good, while the matrix is nan. There should be an exception or a more clear warning. Also there should be some way to explore parameter space to understand it if the fit does not work (see #210), I think.

I am ready to start populating the test kit with examples, in order to tune the optimiz

[2017-06-04 21:42] giacomov commented on #213
Hi,
We have 3 possibilities for global minima searches in 3ML: the GRID minimizer, the GMO minimizer and the MULTINEST minimizer.

The support for this is not rock solid as you have seen, they are at the experimental stage right now, but if you have a specific problem it might help us improve on that.

Please post somewhere an example and relative data files and I will be glad to work on this.

Se

[2017-06-04 21:50] volodymyrss commented on #213
Thank you for the effort!
The specific issues with PAGMO are not data-specific, I would like to write a test to show it and verify later, but I do not think travis has PyGMO? Or it's ok with local-only tests?
I can of course just put files, if you are willing to help. but aren't unit tests more helpful, also to make sure that the future updates do not break the functionality?

[2017-06-04 21:54] giacomov commented on #213
Yes, in general, but I’d rather see the problems and solve them interactively first, then once we are reasonably sure all issues have been solved we can make unit tests to make sure we will never regress.

Sent from my Windows 10 phone

From: Volodymyr
Sent: Sunday, June 4, 2017 14:50
To: giacomov/3ML
Cc: Giacomo Vianello; Comment
Subject: Re: [giacomov/3ML] ROOT minimizer returns covariance matri

[2017-06-12 15:29] sptfung opened #214 "typo in installation script"
"NOTE: could not install chtreeML."

should be cthreeML instead of chtreeML?

[2017-06-12 15:38] #214 closed

[2017-06-12 16:05] sptfung opened #216 "Fortran issue for mac when installing 3ML"
Hi,

I had my fortran installed via Homebrew gcc and followed the tips in the 3ML installation page to export DYLD_LIBRARY_PATH=/usr/local/lib/gcc/:$DYLD_LIBRARY_PATH

however I still get
[code]

and unsuccessful in installing 3ML. I am wondering is this a stupid question?

Thanks,
David

[2017-06-12 16:37] giacomov commented on #216
Hi David,
there is no stupid question :-) (more or less)

Where is your libgfortran*.dylib in your mac?

Keep in mind that 3ML installs the Xspec model part only if you have a HEADAS variable when you run the installation. If you have that variable, make sure that Xspec is actually working before trying to install 3ML. If XSpec is not working, then the 3ML installation will fail because of that.

[2017-06-12 16:45] sptfung commented on #216
Hi Giacomo,

Thanks for the answer. My libgfortran*.dylib are in /usr/local/lib/gcc/7/ and I have checked that XSPEC is working before doing pip install git+https://github.com/giacomov/3ML.git, my $DYLD_LIBRARY_PATH reads
`/usr/local/lib/gcc/:/Users/hfyu/heasoft-6.21/x86_64-apple-darwin16.5.0/lib`

I also tried to install the virtual env 3ML but the same problem persists.

I will try your minicond

[2017-06-12 17:04] giacomov commented on #216
You should then use /usr/local/lib/gcc/7 in your DYLD_LIBRARY_PATH . Try changing that and see if that fixes it.

[2017-06-12 17:48] sptfung commented on #216
Hi Giacomo,

Thanks, it is fixed after /7/ is added, so it shows that my question is really stupid because I thought it applies to sub-directories...

The 3ML_env seems to encounter another problem with matplotlib
`RuntimeError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See the Python documentation

[2017-06-12 18:20] grburgess commented on #216
I just noticed homebrew changed the path to include the version number. I'll update the instructions.

[2017-06-18 10:07] giacomov commented on #209
I did a complete rewriting of the minimization interface, fixing this issue and others.

Now there are two kinds of minimizers, Local (minuit, ROOT) and Global (Grid, pygmo). I didn't yet port pyopt nor Multinest (but will in the future).

The thing with pygmo was that they changed from version 1 to version 2 breaking compatibility, so I had to rewrite from scratch essentially.

I didn't have time

[2017-06-18 10:09] giacomov commented on #209
I am writing you at 3 am before leaving for a week of vacation. When I came back I will write some decent documentation about this.

[2017-06-18 10:33] grburgess commented on #209
Thanks! I'll check it out and fumble until you're back. I'm guessing we have scale parameters now?

Sent from my iPhone

[2017-06-19 07:24] grburgess commented on #209
I realized that there were two version of pagmo and it is probably good to specify that this is the relevant link:

https://esa.github.io/pagmo2/install.html

[2017-06-28 09:31] grburgess opened #217 "Adding lmfit to minimizers"
Shall we add this package:

https://lmfit.github.io/lmfit-py/

[2017-06-29 01:17] giacomov commented on #213
@volodymyrss following this and other issues you opened, I completely rewrote the minimization part to be more flexible and powerful. See this tutorial for some doc:

http://threeml.readthedocs.io/en/latest/notebooks/Minimization_tutorial.html

Let me know if you still have issues.

[2017-06-29 01:19] giacomov commented on #209
For completeness, this is the documentation:

http://threeml.readthedocs.io/en/latest/notebooks/Minimization_tutorial.html

[2017-06-29 01:19] #209 closed

[2017-06-29 01:19] giacomov commented on #209
(please reopen if still relevant)

[2017-06-29 01:19] giacomov commented on #211
(please reopen if still relevant)

[2017-06-29 01:19] #211 closed

[2017-06-29 01:20] giacomov commented on #210
I added this. If the fit fails, the minimizer will try to print some useful information about the last iteration and the reason for failure.

[2017-06-29 01:20] #210 closed

[2017-06-29 01:24] giacomov commented on #217
Most of the algorithms are already in pygmo, so I am not sure about this.

Is there anything you would like to see?

[2017-06-29 12:58] volodymyrss commented on #217
I pointed it out to @grburgess for a different reason really.
This packages combines interface to optimizers, samplers, some bayesian inference, structured model definition.
It can be seen an edge case of 3ml.
Someone asked me how to fit some simple non-dispersion spectra, so I recommended 3ml. But then it was pointed out to me that lmfit can do it too, and it is much more lightweight.
Clearly, 3m

[2017-06-29 15:26] volodymyrss commented on #209
Looks awesome! Thanks a lot!

[2017-06-29 19:29] grburgess commented on #217
@giacomov I agree if this is a subset of what pagmo has, this it is good. But can we have other local minimizers besides ROOT or minuit?

@volodymyrss I view this like other optimizers/samplers. In general, anyone could take this(or the other packages like minuit, emcee, etc) and perform a fit with data by building on top of them. We are offereing a unified multi-wavelength data interface with som

[2017-06-29 19:46] giacomov commented on #217
Hi,
@grburgess pygmo offers many local optimizers thanks to the NLopt library. Look at the documentation for example.

Regarding lmfit, it seems to me that it is mostly for chisq fitting. Many algorithms there (like the Leven-Marquardt one) assume a least square problem, and even the computation of confidence interval assumes Gaussian statistic:

http://cars9.uchicago.edu/software/python/lmfit/con

[2017-06-29 19:57] volodymyrss commented on #217
absolutely, it's chi2 as far as I can see myself, so very narrow range of applications.
the question was more philosophical, should people use lmfit even when it formally applies? or use 3ml?

but there are some minimizers too, yes, but I did not look too deep.

[2017-06-29 20:11] volodymyrss commented on #213
I do confirm with pagmo I can get now a global fit in quite a complicated case (several broad absorption lines, entangled with multiple powerlaws), really very impressive, way beyond xspec experience! Thanks a lot!
On the other hand I still get correlation matrix of NaNs, with no warning even. I will explore more.

[2017-06-29 21:03] grburgess commented on #217
@giacomov I agree I think it is too narrow. But I can do this:
local_minimizer = LocalMinimization("pagmo")
... setup

correct?

@volodymyrss they could checkout the XYLike plugin. This would give them access to all minimizers etc. for simple data. Or the SpectrumLike plugin for binned data. Then, if later they need to do a joint fit with other types of data, it is rather easy to extend. But, it i

[2017-07-04 14:41] #217 closed

[2017-07-04 14:53] grburgess opened #218 "JointLikelihoodSet parallel loosing track of parameter paths"
I believe that this has to do with the model living either in the cluster or locally, but when attempting to do JLSet with the parallel context manager, it appears that the parameter paths get screwed up.

I have set it up like this:

[code]

Without parallel computation, everything is fine. But when it is turned on, then the following error is reported:

[code]

It seems the parameter is chopping

[2017-07-05 23:38] giacomov commented on #218
I tried to reproduce your problem but I couldn't. Are you running in parallel on your laptop or in a cluster? If the latter, maybe 3ML/astromodels is not up to date on the cluster?

If not, can you post somewhere a minimal (non)working example I can run from scratch?

In the meantime I created a test for a similar case:

https://github.com/giacomov/3ML/blob/master/threeML/test/test_joint_likelihoo

[2017-07-05 23:39] giacomov commented on #218
Also, I don't understand, if the model is a simple Powerlaw() instance, how can it look for "K_1"? It should look for "K_1" only if there is a composite model, like Powerlaw() * XS_abs()...

[2017-07-05 23:40] #216 closed

[2017-07-05 23:55] giacomov commented on #208
You probably figured out by now... sorry, I missed this issue.

Anyway this is an example:

[code]

[2017-07-06 07:56] volodymyrss commented on #208
Yes, thanks, that's what I use.
But I mean really hierarchical way, something like:

[code]
otherwise the numbers change often when I change model even a bit, and I have to reassign them manually. That's quite annoying.

if there are many powerlaws, maybe then:

[code]

or maybe even, if I imagine:

[code]

[2017-07-11 07:02] grburgess commented on #218
Ooops.

I mean this:

I have set it up like this:

[code]

[2017-07-11 09:18] grburgess commented on #218
I have now added some additional checks in tests which reproduce the problem:

https://travis-ci.org/giacomov/3ML/builds/252313926

[2017-07-11 15:50] #175 closed

[2017-07-15 20:13] grburgess opened #223 "SpectrumLike plots as member"
We currently have a global display_spectrum_model_counts() function that takes analysis objects and plots them. I am currently working on some code to to easily allow combing plots from other fits into one count plot. However, it would probably be cleaner to have this plotting as a member of the plugin.

This would require the user to combine a lot of figures and carefully control each of the plot

[2017-07-23 07:29] grburgess commented on #223
fixed in #224

[2017-07-23 07:29] #223 closed

[2017-07-23 07:35] grburgess opened #227 "Background Modeling"
I've been looking at the background modeling and it may be better to approach it by adding a node onto PointSource:

[code]

Otherwise, we are just adding a function inside of the plugin and have to dig into private members to access the free parameters of that function.

Is this too involved of an approach @giacomov ?

[2017-07-23 17:50] volodymyrss commented on #227
Sorry to intervene, just I was dealing with similar situations in astromodels.
If you add background to the source, does it not appear if the background is the property of the source? Background seems more to do with observation than with a source.
The source is included in multiple observations, with different backgrounds, what do you do then?
Maybe background could be another source, a "backgrou

[2017-07-23 19:00] grburgess commented on #227
I've found a solution dealing with just the plugin. I'll push tomorrow. Basically I just create an internal function and assign its parameters as nuisance.

[2017-07-23 19:07] grburgess commented on #227
See here:
https://github.com/giacomov/3ML/commit/8a6c0e2bb7e56f5d5f40f14fffb9bf1158266166

[2017-07-24 06:34] giacomov commented on #227
Hi,
as a general rule, you probably shouldn't have a discussion and act on it on a weekend... ;-)

Since the user is likely going to need to iterate the background modeling until he/she finds a good model, I think the most sensible way to handle it is through a separate source. That way you can interact with it using all the tools we already have, and then we you have found a good solution, you us

[2017-07-24 06:40] grburgess commented on #227
No worries, this is basically what is going on except that it is buried in the plugin. This can be taken further outside, but the interaction will need to take place inside the plugin.

[2017-07-24 07:59] volodymyrss opened #228 "possibility of having custom properties of the model nodes"
what is the best way to characterize nodes sources with some properties, such as source name, time at which this model applies, or even energy range (though the last one can be dealt with by providing a global model, this might be a bit unnatural)

(maybe this belongs to astromodels, but maybe it is easier to keep together, as it relates to the fitting.)

[2017-07-24 09:18] volodymyrss opened #229 "properties of the spectra and choosing sources for SpectrumLike"
would it make sense to assign some properties in the SpectrumLike plugin. it is quite useful when one wants to associate only some sources to a given spectrum, instead of summing all, as it is done now.

[2017-07-24 09:28] volodymyrss opened #230 "strategic: aggregation vs specialization and dependency"
It's a generic question.
I need some features specific for INTEGRAL. E.g. ability to read special responses and spectra. I could have continued to suggest updates to 3ML, but instead, for now, I did it separately, i.e. I inherit and keep  the plugins (and a bunch of other classes) in a separate project. This is faster to do.
What is, in your opinion, the way to proceed: fragmenting and specializin

[2017-07-24 09:39] grburgess commented on #229
@volodymyrss we have a system for this called 'tags'. This might be the way to address this. For now, tags were to associate plugins with a time interval:

https://github.com/giacomov/3ML/blob/master/threeML/plugin_prototype.py#L11

This is rather old:

https://github.com/giacomov/3ML/blob/master/examples/time_dependent_demo.ipynb

But it may be better to have some other way to do what you are wan

[2017-07-24 09:46] grburgess commented on #230
@volodymyrss I did the same for my GBM response generator:

https://github.com/grburgess/trigdat_reader/blob/master/trigdat_reader/balrog_like.py

I think this plugin could be generalized because other instruments may want to generate responses on the fly and the method is general... just need a generic response generator class that is a place holder.

Other than that, I think we need to have an i

[2017-07-24 09:53] volodymyrss commented on #230
But if you follow this approach, why keep any plugins inside 3ml? why not keep only the non-instrument specific prototypes.

So can you propose an agenda to what exactly to discuss? The list of the items.

[2017-07-24 09:59] volodymyrss commented on #229
it seems to be called "external_properties"? Ok, it's similar to what I want. I did setters/getters differently though.

[2017-07-24 10:21] grburgess commented on #227
Here are my thoughts and my approach.

With SpectrumLike, we currently sum all the sources associated with the model when computing the likelihood:

[code]

This makes sense in the total = bkg+source part of the likelihood, but the conditional background part need to sum only over background sources, and we would need some kind of flag to differentiate.

I tried a rather ugly approach of building

[2017-07-24 10:22] grburgess commented on #230
I think that is the idea... you can make your own things if needed, but we standardize common things.

[2017-07-24 23:51] giacomov commented on #227
You are both touching on different issues here. Let me focus for the moment on how to achieve a "functional" background, instead of using the profile likelihoods.

Some thoughts in random order:

* we need to provide a way for the user to iterate over the background fit, and seeing its results (residuals and so on). Indeed, we cannot assume that the user will know every time the function to be use

[2017-07-25 01:11] giacomov commented on #228
Regarding the name, each node has a `name` property.

For the rest, I think informations such as the cut on the data (energy and time) do not belong to the source, but to the data, so they should be properties of the plugins, not of the sources.

A model can be a function of time, but only in the sense that parameters can be made varying with time using auxiliary variables.

Does this answer your

[2017-07-25 01:14] giacomov commented on #229
@volodymyrss can you describe a bit more the use case for this?

Right now the mindset with which 3ML was designed was to have in the model all sources that are in the sky within a certain region of interest. For non-imaging instruments you had to sum over all the sources, for imaging instruments you treat them one at the time.

However, already for the XYLike plugin, we implemented a solution whe

[2017-07-25 01:22] giacomov commented on #230
Having a meeting is a good idea.

Regarding the question in the subject, in general you do not want the user to have to install several packages each one with a plugin.

At the same time, I think it is reasonable to have plugins requiring a substantial amount of code specific to the instrument (like the one @grburgess mentioned) in their own repository.

In general my preference is to have things

[2017-07-25 06:24] grburgess commented on #227
I like the idea of having the background come from a plugin. Though, I wonder how biased you can become from fitting the background alone. It is probably mitigated with a good global optimizer and only a detail here.

I am modeling the background in count space and was going to ask you @giacomov if there was any case where that would not apply (it is emphasized in the XSPEC documentation).

I'm no

[2017-07-25 08:42] volodymyrss commented on #228
I thought properties like this might belong both to the source and to the data, albeit with rather different meaning (which is why I made two separate issues). The case with the data is clear.

The case with the model is more complex.

The "name" property seems highly restrictive, it can not be a common source name, for example. E.g. "1A 0535+262" is not a valid name for 3 separate reasons, (even

[2017-07-25 09:54] volodymyrss commented on #229
The situation is that I have a number of sources fitted simultaneously, but each source has it's own OGIP.
Sources share some parameters. If they did not, I would just run the joint fit multiple times, and not have this problem.

But yeah, like XYLike is an options.

Except, more generally, could be not just a source, but also some arbitrary set of properties.
E.g. I have some properties related t

[2017-07-25 10:03] grburgess commented on #229
@volodymyrss yes, that example is broken as I am waiting to see what @giacomov does for this case in astromodels. But, we can extend the properties as needed. Also, you can link parameters with astromodels:

http://astromodels.readthedocs.io/en/latest/Model_tutorial.html?highlight=link#linking-parameters

[2017-07-25 10:04] volodymyrss commented on #230
For me, most of the software is of course outside.
The question is really whether the plugins should be even inside. So that the core contains only the highly extensible interface. But that's a matter of preference really, I see your point.

Why do I need to install HAWC and Fermi plugins if I am going to analyse only INTEGRAL and XRT?..
The question is also of a organizational nature: there can b

[2017-07-25 10:07] volodymyrss commented on #229
I saw that @grburgess but to link the parameters, they have to be parameters of sources in one model, right?
In this case they are all summed for each OGIP, so it really does not help.

[2017-07-25 10:09] grburgess commented on #229
I am not sure, I'll look at XYLike and extend its functionality to SpectrumLike

[2017-07-25 10:11] volodymyrss commented on #229
That's what I did for myself and it's very easy, but I think it's not good enough, and relates to #228: you can not actually specify source model.

[2017-07-25 10:23] volodymyrss commented on #227
Hm, @giacomov, for me, the model is a model of representation of physical reality not just sky. Which is why it might include detector properties, in particular the background.
Otherwise, where do I keep them?
Of course, if they are specific to only one instance of plugin, they can be all hidden, but if not?

[2017-07-25 10:59] grburgess commented on #230
@volodymyrss I think that is just it. You can have custom low-level versions locally if you desire, and if you need a custom plugin for normal analysis that is beyond the scope of the basic, XY, Spectrum, etc plugins, then you could push an interface-style or full working-style plugin for that instrument. I suppose the purpose of pushing custom instrument plugins in to the main branch in these cas

[2017-07-25 11:01] grburgess commented on #229
@giacomov @volodymyrss I will take care of source assignment while on the place today as well as implementing @giacomov 's idea for #227 They are related, but I will break into two branches.

On another note (and we shouldn't go back now!) it seems it would have been easier to have XYLike be the base of Spectrum... but Spectrum is really a different animal.

[2017-07-25 15:26] giacomov commented on #227
@volodymyrss you have a point, but there are different types of background.

A phenomenological background such as the one obtained from data in a typical X-ray on/off analysis definitely belongs to the data side, since it's applicability never goes beyond that specific data.

A more astronomical background such as the Galactic diffuse emission could as well belong to the Model, as it is always go

[2017-07-25 15:41] volodymyrss commented on #227
Ok, but where I keep instrumental parameters, which I want to change and fit, and which shared by multiple plugin instances?
Is there a place for an Instrument Model?

[2017-07-25 15:51] giacomov commented on #228
@volodymyrss every choice we make has good and bad consequences. We decided very early on that we wanted to be able to address parameters and sources in astromodels as in:

`model.source.spectrum.main.powerlaw.index`

instead of:

`model['source']['spectrum']['main']['powerlaw']['index']`

to avoid going crazy with all the parenthesis and quotes, and to be able to speed up the access with a C++ ad

[2017-07-25 15:56] giacomov commented on #229
@grburgess can you lay down what you want to do in pseudo-code (what the user would need to do to achieve what he wants to achieve)?

@volodymyrss what are the properties of a source that the plugin might need to decide the appropriate response of the instrument?

[2017-07-25 16:09] volodymyrss commented on #229
@giacomov not properties of a source, but properties of data (in this thread we are taking about plugin properties, not model node properties :) ). many things: on a low level - event selection (which can be subset of detectors, GTI, etc)

[2017-07-25 16:12] grburgess commented on #229
@giacomov in which issue?

[2017-07-25 16:20] volodymyrss commented on #228
It can be solved also by keeping real source name in the node metadata.

The episodes might not be completely unrelated, I want to load two at once, try different models. First maybe link some parameters. Then maybe make a global evolution model.
But I need to start somewhere.
Can I keep some parameters evolving with time, and leave others adjust to each spectrum independently? Seems to be a commo

[2017-07-25 16:38] grburgess commented on #228
Yup, I've made a solution for this too. So it will come soon

[2017-07-25 16:46] giacomov commented on #229
@grburgess you said:

what do you mean by that?

@volodymyrss I see (I am confused with all these conversations happening at the same time :-) ). But then, a plugin can be extended with all the properties that you need, it does not share the same limitations of a source (a plugin is not a Node). For general things such as energy range and time range I would use tags. For other things, like subset

[2017-07-25 16:50] giacomov commented on #227
@volodymyrss it would help me a lot if you could lay out the problem you are trying to solve. I guess it is an INTEGRAL analysis, can you describe in details how do you need it to work?

Normally nuisance parameters are added to the model by the plugin as "external parameters". Once each plugin has added its own nuisance parameters, you can also link them between each other and obtain what you wan

[2017-07-25 16:53] giacomov commented on #228
@grburgess can you lay out the proposed solution before implementing it?

I am sorry I keep putting brakes on you, but you tend to "shut up and code", which although a normal approach for in-house code, it's not how it is supposed to be in a shared large project... ;-)

I need you to lay out your plan, discuss with us consequences (which might not be apparent to you) and then when we agreed you (o

[2017-07-25 17:13] grburgess commented on #228
@giacomov this was a push from a long time ago: #115  We put in tags to set external properties and included a way to quickly create a model that had common parameters free, fixed or linking in time. But this still needs some work as it only addresses models that do not need to be integrated over time.

[2017-07-25 17:14] grburgess commented on #229
@giacomov I pushed https://github.com/giacomov/3ML/pull/231 which followed you implementation in XYLike to allow for assiging a plugin to a source.

[2017-07-25 17:18] volodymyrss commented on #229
@giacomov ok. Just to be clear, the tags are in the code as external properties? Naively I can not really find anything relevant literally called "tag" in the code.

[2017-07-25 17:25] grburgess commented on #229
But more specifically:

[code]

[2017-07-25 18:14] giacomov commented on #229
@grburgess looks great.

@volodymyrss let me find an example for you. This feature is still a prototype so we can iterate over it and fix it if needed.

[2017-07-25 23:29] grburgess commented on #227
Regarding the

[code]
approach. Since these are all going to come from SpectrumLike and need the functionality of energy selection, etc., should we not build the internal background function from SpectrumLike rather than XYLike?

[2017-07-26 16:56] grburgess commented on #227
@giacomov one other issue I will run across is the rebinning and channel selection. They should remain the same between background data and total data. One way to solve is with a decorator on all those functions which sets the background plugin to the same selections/bins. This way you only need to add the get_log_like() of the background file.

The same behavior could be had by calculating the li

[2017-07-26 17:47] giacomov commented on #227
@grburgess I am not sure that it is the case. You can have a selection for the background with which you fit the background model, and a different selection for the "source".

For example, in the GBM you might be confident that you know how to model the K-edge in the counts space for the background spectrum (maybe putting a Gaussian there would suffice), however you do not trust the photon respons

[2017-07-26 19:23] grburgess commented on #227
Yup :) I was reading https://arxiv.org/abs/1007.1727 on a plane and realized this. It will then be on the user to really know what they are doing. I'll need to do some math and then I'll post my idea

[2017-07-27 13:26] volodymyrss commented on #227
@giacomov exactly, I have now tons of external parameters. They work similarly to cons_* things, except evolve with time. There are several needs for this.
But let me focus on one, related for background, since that's what this #227 issue is about.

Background in ISGRI consists of CXB (1), stray light from unmodeled off-axis sources (2), photon background generated in the spacecraft by photons and

[2017-07-29 02:31] grburgess commented on #227
@volodymyrss I think you can still achieve this through modeling. However, some of these things seem like they should be outside the plugin as external software. Nevertheless, if you can model then, I suppose you can write them in as nuisance parameters. This is totally allowed.

I've now got the first attempt of background modeling implemented in #232

There is an example added that demonstrates

[2017-08-05 10:01] volodymyrss opened #234 "nuisance parameters as instrumental model"
There is a limitation with nuisance parameters:
[code]
This is understandable.

But the instrument model would be shared between many instances.
In principle it is possible to define model in each through the nuisance parameters, and link them all, but it seems to make sense, to me, to have shared instrument model defined a single set of parameters. The model can be evaluated at different moments

[2017-08-05 10:11] volodymyrss opened #235 "how is time treated?"
Right now there is a special concept of IndependentVariable.

In principle, model is evaluated at a given energy, and a moment of time. Would it be natural if they were treated in a more homogeneous way?

Moreover, at a deeper level, detector conditions are also a variable or a parameter, for which the model is evaluated. I understand that this should not be too visible to plugin user, but it may

[2017-08-16 04:43] ShabnamIyyani opened #238 "Python2 kernel in jupyter notebook dies while running the code"
After the installation of 3ML, before running it as instructed, in the terminal I initialised the softwares that I wanted to use like Fermi Science tools, Xspec (i.e heainit) etc and then activated the virtual environment for 3ML. Then within the environment I opened the Jupyter notebook  and tried running the basic example that was posted here at GItHub.  I get the following
`%matplotlib inline
%

[2017-08-16 13:00] rupalbasak opened #239 "IO error with import threeML"
I installed 3ML in my laptop running Ubuntu 14.04.
I used sudo pip install for this purpose. No error during installation.
Then I used "jupyter notebook" to open the localhost in chrome.
But, when I started a new project with python 2, the "import threeML" gives the
following i/o error. Please suggest.

IOError                                   Traceback (most recent call last)
<ipython-input-1-36

[2017-08-23 14:42] sptfung opened #243 "Light curve plotting limit"
Dear Giacomov,

In the Bayesian Blocks analysis example(http://threeml.readthedocs.io/en/latest/notebooks/Building_Plugins_from_TimeSeries.html?highlight=blocks), one can change the y-axiz limit by

`_=plt.ylim(top=3000)`

however I get

`NameError: name 'plt' is not defined`

I am wondering how could I change the y-axis limit using view_lightcurve?

Sincerely,
David

[2017-08-23 14:45] giacomov commented on #243
Hi,
you just need to import matplotlib first:

[code]

[2017-08-23 14:47] sptfung commented on #243
Dear Giacomo,

Thank you!

Best Regards,
David

[2017-08-23 14:52] #243 closed

[2017-08-23 14:55] giacomov commented on #239
Hi,
it looks like your astropy configuration has the wrong permits. Probably it was created by root.

To avoid problems like these, I suggest you to install 3ML following the instructions (or even better the installation script). You do not need to be root to install 3ML, and actually it is better if you are not as you have seen.

To fix your problem, just become root once again issuing this comma

[2017-08-29 18:51] grburgess commented on #238
The most likely cause for the kernel dying is a mismatch bewteen python libraries. You should investigate whether or not you have libraries installed in multiple python distributions. Python will load in order of its path these libraries and if it tries to access a binary that is incompatible with another, the kernel will die.

[2017-08-30 10:52] rupalbasak commented on #239
Hi,

Thanks for your reply. I indeed tried in the beginning to install the software using the python script. It did install, but the jupyter notebook was not working. My colleague told me that he had the same problem, so I installed it using the other method. But, without root, I could not install. Then I tried to install with sudo pip.

Now, about your suggestion, i uninstalled and installed agai

[2017-08-30 12:22] rupalbasak commented on #239
Hi,
I tried to install again without sudo.
Attached the log file. Please help.
[3ml_install.txt](https://github.com/giacomov/3ML/files/1263524/3ml_install.txt)

[2017-09-03 11:35] grburgess opened #244 "XYLike NaN in chi2"
In the chi2 calculation in XYLike, there is an assertion to make sure that chi2 is finite. This makes sense, however, this can happen when functions overflow. When running sampling methods, this can cause an iteration to crash the kernel (emcee) or append nonsense to MUTINEST chains when a parameter wanders into a poorly defined function region.

Should we instead try to numpy.nan_to_number the ou

[2017-09-03 11:43] giacomov commented on #244
do you know when does the NaN comes from in the chi2 formula? Does it come from the model part?

In general I think it is dangerous to "cover" problems by silently ignoring them.

In a Bayesian context you should probably put priors excluding the region that give you nans. That being said, one thing we could do would be to issue a warning instead of an AssertionError when the NaN happens. However,

[2017-09-03 11:49] grburgess commented on #244
I agree with all of the above. I'm working on diagnosing the problem. I just noticed that we do not do this in other plugins and I haven't had the same problems.

It is possible that this issue is popping up in XSPEC models (which I am using) or the complex likelihood I'm using a.t.m.

But, some of the functions (things involving exponentials) overflow very commonly when used outside of the typica

[2017-09-03 12:46] grburgess commented on #244
Indeed, it's when a function creates zero flux and you want to calculate a magnitude. The log throws infinite. You can't really patch this up because making the magnitude very large 1e308 causes a division error in the chi2. I propose we just set it to an arbitrarily large magnitude which should penalize the likelihood enough to put pressure away from that point. I'm sure there are statistical pro

[2017-09-06 19:51] #244 closed

[2017-09-29 15:00] husnedereli opened #251 "gfortran"

[2017-10-03 14:45] husnedereli opened #252 "from threeML import problem with corner.py"
Hi,
I have installed threeML with this command:
####################################
$ conda install threeml -c giacomov
####################################

but when I run to test it in python environment it give following error:

####################################
from threeML import *
File "corner.py", line 1
    {\rtf1\ansi\ansicpg1252\cocoartf1348\cocoasubrtf170

[2017-10-23 04:44] #252 closed

[2017-10-23 04:46] grburgess opened #257 "VOTable Depreciation"
We will need to move to astroquery as astropy is getting rid of their inherent services.

https://astroquery.readthedocs.io/en/latest/vo_conesearch/vo_conesearch.html

[2017-11-02 17:16] rjlauer opened #258 "ROI definitions in HAWCLike"
When creating a HAWCLike instance in order to use LiFF  in 3ML, the user has to provide a maptree-file, but is not automatically required to define a region-of-interest (ROI), i.e. a selection of pixels or coordinate range that will determine which part of the sky is being loaded internally in LiFF. Due to HAWC's large skymaps, the default so far is not to load the whole map, but rather to load an

[2017-11-07 00:17] giacomov commented on #258
I am very much in favor of forcing the user to manually choose an ROI. However, in order to facilitate the transition, we can deprecate the automagic ROI choice first. That way the user who doesn't choose the ROI will get a warning, but not an error, so old script will keep working for a while.

@rjlauer what do you think?

[2017-11-07 00:19] giacomov commented on #258
In the meantime I corrected the behavior mentioned above: now you can use one of the set_ROI methods even if fullsky=False. You will get a warning saying that it might fail, but it will work.

[2017-11-14 11:09] ShabnamIyyani opened #259 "Counts spectrum shows data points for detectors beyond its energy selection criteria."
I had done the energy selections for NaI detectors  and BgO detectors using the following commands:
    NaI3.set_active_measurements( "10.0-30.0", "40.0-950.0" )
    NaI4.set_active_measurements( "10.0-30.0", "40.0-950.0" )
    NaI8.set_active_measurements( "10.0-30.0", "40.0-950.0" )
    Bgo0.set_active_measurements( "300.0-40000.0" )
However, after the fit when I plotted the counts spectrum with

[2018-01-12 22:19] giacomov commented on #259
@grburgess have you seen this?

[2018-01-12 22:52] grburgess commented on #259
Yup. I'll grab it tomorrow

Sent from my iPhone

[2018-01-14 20:23] grburgess commented on #259
@ShabnamIyyani would you mind attaching the data and code snippet that you used to produce these plots? It will help so that I can reproduce the problem.

[2018-01-15 09:39] grburgess commented on #259
@giacomov it's the weighted average of the mean energies that is causing the bounds to go crazy. If the source rate is negative in a bin, the weights screw it up. I'm investigating

[2018-01-15 12:08] #259 closed

[2018-01-15 12:09] grburgess commented on #259
@ShabnamIyyani It should be working now.

[2018-01-19 20:26] #227 closed

[2018-01-19 20:31] grburgess commented on #257
Fixed in #265

[2018-01-19 20:31] #257 closed

[2018-01-19 20:31] #238 closed

[2018-01-19 20:31] #251 closed

[2018-01-19 20:34] grburgess commented on #11
@cdeil is this still an issue? @giacomov do we want to change this?

[2018-01-19 20:35] grburgess commented on #16
@woodmd is this still needed?

[2018-01-19 20:35] #57 closed

[2018-01-19 20:36] grburgess commented on #76
@giacomov I think you answered your own issue.

[2018-01-19 20:36] #76 closed

[2018-01-19 20:37] #85 closed

[2018-01-19 20:39] grburgess commented on #97
@omodei I guess you have tried the new conda install? Are there any issues remaining?

[2018-01-19 20:40] #180 closed

[2018-01-19 20:40] grburgess commented on #113
Fixed!

[2018-01-19 20:40] #113 closed

[2018-01-19 20:42] grburgess commented on #101
@Vlasticak are you still having this issue?

[2018-01-19 20:51] giacomov commented on #16
@grburgess I think we should implement this at some point. I was waiting for the format to become stable, and it looks like it did:

https://github.com/open-gamma-ray-astro/gamma-astro-data-formats/blob/03f465f83f977543efab2e0960ea33ddcbb616a4/source/spectra/binned_likelihoods/index.rst

[2018-01-19 20:55] giacomov commented on #11
With the new conda installation this should not be an issue anymore. We depend on matplotlib for many things, so while making it an optional dependency is feasible, it would be difficult.

[2018-01-21 16:15] cdeil commented on #11
I don't know.

If it's not the case already, would still suggest to only import MPL when needed, at least the interactive MPL stuff that happens when you `import matplotlib.pyplot`.

[2018-01-21 16:15] #11 closed

[2018-01-23 18:41] grburgess commented on #16
@woodmd @giacomov I've started a branch to begin work on this. I'm going to take a stab myself just learn this format. Just to be sure, it looks like the model embedded only gets scaled by a normalization, correct?

[2018-01-23 19:00] woodmd commented on #16
I'm not sure what you mean.  What you are calculating for each energy bin is an array of normalizations (N_i) and an array of log-likelihood values (lnL_i).  To avoid a lot of unnecessary columns we've chosen to represent the amplitude of the bin as a dimensionless quantity `norm` which can be scaled with the appropriate `ref` column to translate it to flux, energy flux, or differential flux.

[2018-02-04 12:36] grburgess opened #273 "background selections outside of data intervals crashing background fits in time series"
The poly intervals are not being set correctly in this case.

[2018-02-04 12:38] #273 closed

[2018-02-05 12:45] grburgess opened #275 "conda from master"
When does the master branch propagate to the conda install? Is it automatic or does it have to be pushed?

[2018-02-05 16:31] giacomov commented on #275
It needs to be regenerated manually at the moment, but will soon be automatic. I am in the process of putting 3ML in conda-forge. I already created packages for all dependencies, even ROOT.

[2018-02-22 14:20] JohannesBuchner opened #279 "pip install issue: execfile"
This is on python 3.5:
[code]

Potentially useful links:
https://github.com/bulkan/robotframework-requests/issues/109
https://packaging.python.org/guides/single-sourcing-package-version/

[2018-02-22 16:55] #279 closed

[2018-02-22 16:57] giacomov commented on #279
I just commited a fix. However, keep in mind that there are other places where 3ML is not compatible with python 3. We are in the process of 2 -> 3. Of course, if you want to contribute to that, you're very welcome.
 We need to keep compatibility with python 2 as well, because some of the plugins (most notably Fermi/LAT) needs it still.

[2018-02-22 16:57] #258 closed

[2018-02-22 16:58] #218 closed

[2018-02-22 16:59] #213 closed

[2018-02-22 16:59] #97 closed

[2018-02-22 16:59] #101 closed

[2018-03-04 18:30] grburgess opened #283 "Dropping ROOT for iminuit"
It seems iminiuit now uses minuit2:

https://github.com/iminuit/iminuit/pull/206

Shall we drop the ROOT support since it interferes so much with the parallel environment?

[2018-03-12 23:40] giacomov commented on #283
The problem with the parallel environment has been solved, so we do not really have any reason to drop support.

ROOT is an optional dependency right now, and iminuit is already the default minimizer, so I think we can skip this.

[2018-03-12 23:40] #283 closed

[2018-03-12 23:42] giacomov commented on #275
The `conda build` is now automatic. Every time a build succeed in the master branch, a new release is updated to the `threeml` conda channel.

[2018-03-12 23:42] #275 closed

[2018-03-21 14:00] grburgess opened #286 "Channel numbers for SpectrumLike"
@JohannesBuchner would like to use channel numbers for SpectrumLike when fitting:

"So I have to define a custom model with my template (length=#of channels), after I notice/ignore my channels and pass into it the mask. In the model function I have to return the template(with mask applied) and scale it by a variable. But how each of these steps work in 3ML is not very clear to me."

I will work to

[2018-03-22 14:09] grburgess commented on #286
@JohannesBuchner how exactly is your background defined?

[2018-03-22 16:07] JohannesBuchner commented on #286
As number of counts expected in each detector channel. The custom background model should normalise the template by a parameter when a particular background spectrum is fitted.

[2018-03-25 10:24] grburgess commented on #286
Ok, the reading in of the template is defined and a normalization (as well as an energy scaling parameter) is applied to the template when you load it.

The issue here is that the energy axis for models is defined in photon energy space.

You can see that the way we construct a "background plugin" is by extracting the counts from a pha and turning it into a SpectrumLike plugin:

[code]

SpectrumLi

[2018-03-27 17:15] henrikef opened #287 "crash writing fit results with only unitless free parameters to fits file"
Hi!

I have been unable to write some fit results to fits files. I think I tracked it down to models where all of the free parameters are unitless. In my case, I was trying to fit a model where the ratio of the flux normalization between sources is fixed and there's only one free parameter to scale all of the fluxes, which is unitless.

In any case, here's an example that crashes for me:

[code]

[2018-03-27 19:29] giacomov commented on #287
Thanks for spotting this and for providing a minimal working example, that was very useful to track down the bug.

I have solved it now, if you are using the `conda` distribution you can do `conda install -c conda-forge -c threeml threeml` as soon as this Travis build has completed:

https://travis-ci.org/giacomov/3ML/jobs/359050791

If you are using a development version installed with `pip`, you

[2018-03-27 19:40] henrikef commented on #287
Thanks! Working so far 👍 !

[2018-03-27 19:40] #287 closed

[2018-06-05 06:44] grburgess opened #292 "Priors and bounds"
I'm thinking about changing how the priors interact with the bounds set on parameters.

While it is important for full Bayes when we are just doing parameter estimation, we can forget about the data-dependent normalizing constants in the posterior. There are many times that I want to place an unbounded prior on a bounded parameter which will result in an assertion error. I want the soft behavior o

[2018-06-05 07:29] giacomov commented on #292
Can you provide an example?

Isn't it enough to make the parameter unbounded by setting min and Max to
None before making the computation?

On Mon, Jun 4, 2018, 11:44 PM J. Michael Burgess <notifications@github.com>
wrote:

[2018-06-05 07:39] grburgess commented on #292
I'll provide an example soon. But that solution would not work. For example, if I have a physical parameter that cannot be less than 10, and I want to set a lognormal prior on it, I would need to write a  new function. This is of course possible, but it might become cumbersome.

I'll play around and see if I can come up with a nice solution.

[2018-06-05 07:45] giacomov commented on #292
Can't you just set a prior which is a log normal function multiplied by a
uniform prior with min value 10? Priors are just normal functions, they can
be multiplied, divided, added and so on.

On Tue, Jun 5, 2018, 12:39 AM J. Michael Burgess <notifications@github.com>
wrote:

[2018-06-05 07:48] grburgess commented on #292
Aha, maybe that would work, but would the prior members are only present in some functions translate to the new composed function?

I'll check this out.

[2018-06-05 08:05] giacomov commented on #292
Yeah, for multinest it won't work, because the unit cube thing won't
multiply... But for emcee style thing it should work

On Tue, Jun 5, 2018, 12:48 AM J. Michael Burgess <notifications@github.com>
wrote:

[2018-10-05 18:23] colasri opened #305 "Plot XYLike data points on fit result"
It would be nice to have the possibility to plot the XY data points of the XYLike class on the same plot as the `threeML.plot_point_source_spectra()`.
The `XYLike.plot()` method does not provide this since it's a very simple method not dealing with units, nor multiply by an E^2 factor for the Y scale. Any idea on how to best achieve this @grburgess ?

[2018-10-16 21:19] fryde opened #307 "Synchrotron spectrum"
Hi,

I am trying to use the Synchrotron function and have got stuck:

I do:

synch = Synchrotron()
GRB_synch = PointSource( triggerName, ra, dec, spectral_shape=synch )
model_synch = Model( GRB_synch )
El_CPL = naima.models.BrokenPowerLaw(1e36*u.Unit('1/eV'), 1*u.MeV, 1*u.MeV, 1.1, 2.3)
synch.emin = 1000.
synch.set_particle_distribution(El_CPL)

and get the following error message that I cannot so

[2018-10-23 03:03] giacomov commented on #307
Hi,
sorry for the late reply. You need to use the models from astromodels as
particle distribution, not from naima.

So for example use the Broken_powerlaw instead of the
naima.models.BrokenPowerLaw model.

Let me know if it works for you.

On Tue, Oct 16, 2018 at 2:19 PM fryde <notifications@github.com> wrote:

[2018-11-21 18:10] giacomov commented on #307
@fryde I am closing this for inactivity. Please reopen if you are not satisfied with the solution.

[2018-11-21 18:10] #307 closed

[2018-11-21 18:12] #239 closed

[2018-11-21 18:13] giacomov commented on #16
This has been implemented in `CastroLike`. Closing issue.

[2018-11-21 18:13] #16 closed

[2018-11-22 11:12] fryde commented on #307
Hi Giacomo,

Thanks a lot for your answer. Sorry for my later reply.

I am trying to solve it using a table model first. I will open up the issue again if it is needed.

Thanks again,
Felix

On 21 Nov 2018, at 19:10, Giacomo Vianello <notifications@github.com<mailto:notifications@github.com>> wrote:

@fryde<https://github.com/fryde> I am closing this for inactivity. Please reopen if you are not sa

[2018-11-23 17:44] #292 closed

[2018-11-23 17:45] grburgess commented on #33
I'll take another stab at this now that they have their own python interface.

[2018-11-23 17:45] #33 closed

[2018-11-23 17:45] grburgess commented on #125
now fixed for some time.

[2018-11-23 17:45] #125 closed

[2018-12-29 12:57] grburgess opened #309 "add build for pypolychord and getdist into docker and/or condo"
I've got the basics for pypolychord working. In order to test we need to add two packages to the docker. I do not want to mess anything up. I suppose it could also go into the conda package.

Pypolychord is here: https://github.com/PolyChord/PolyChordLite
And it depends on a pip packge "GetDist"

[2019-01-09 22:36] giacomov commented on #309
Where can I find installation instructions?

[2019-02-15 22:30] henrikef opened #315 "internet_connection_is_active fails"
Hi!

Is anyone else having issues with threeML not detecting an internet connection? This is used e.g. for the fermipy tests (skipped automatically if no internet).

[code]

Would print 'false' for me. It works if I change the port to 443 in this line: https://github.com/threeML/threeML/blob/master/threeML/io/network.py#L23

Not sure if something changed with google DNS (the code tries to connect

[2019-02-20 08:31] grburgess commented on #315
I tried the line you put here and it worked for me. Any news @henrikef ?

[2019-03-07 20:35] omodei opened #317 "FermiLATSourceCatalog fails"
Due to the new release of the 4FGL, the schema in the FermiLATSourceCatalog (catalogs/Fermi.py) is no longer valid.
lat_catalog = FermiLATSourceCatalog()
ra, dec, table = lat_catalog.search_around_source("Crab", radius=20.0)
crashes

[2019-03-08 09:30] grburgess commented on #317
Thanks for catching this! Too bad our tests keep failing for other reasons as this might have been flagged in the cron builds. I'll review when you have a fix.

[2019-03-08 09:30] grburgess commented on #315
Is there any update on this?

[2019-03-08 09:34] grburgess commented on #185
I'm closing this as it is old.

[2019-03-08 09:34] #185 closed

[2019-03-09 10:47] grburgess opened #319 "fixing build tests"
The tests are currently failing except for the cron builds. It appears to be some version mismatch in conda with pytest and setuptools. I'm currently trying different things, but at a loss for how the system works.

[2019-03-09 19:25] omodei commented on #317
This issue is fixed.

[2019-03-09 19:25] #317 closed

[2019-03-09 21:37] giacomov commented on #319
I'll have a look. Keep in mind that the Cron job does not try to build 3ML for conda, that's why it doesn't fail. It only tries to run tests.

Right now it looks like the culprit is a missing package in `conda-forge` (the `toolchain`). I think we can do without (it was supposed to set some of the env variables), so I have removed it for the moment, let's see if it helps.

[2019-03-09 22:05] giacomov commented on #319
I'm trying to fix the situation right now, but there are a few points that will need to be fixed pretty soon (although not immediately):

- tests: the new pytest broke compatibility with our tests by disallowing the direct all of fixtures. It is an easy fix, but it needs to be done. See https://docs.pytest.org/en/latest/deprecations.html#calling-fixtures-directly
-Some of the conda packages like `

[2019-03-09 22:15] grburgess commented on #319
Alright. I can take a look at those issues to learn.

/J. Michael

[2019-03-10 01:43] giacomov commented on #319
The tests pass now, I fixed them for the moment.

For the future, maybe we should move away from conda and make things easier to reduce the amount of maintenance that this part of the workflow need.

After all, 3ML, astromodels and all accompanying things are pure python.

The only problematic pieces are `xspec` and `ROOT`, but we could move the responsibility for those to the user. If the user in

[2019-03-10 09:31] grburgess commented on #319
If you are suggesting to move away from Conda for the tests... I agree. We can probably achieve things with a docker easily. The Conda build is amazing with fermi tools In a docker i use for LAT analysis. We should discuss this in detail via Skype. I can hopefully recruit some help at pygamma for handling Conda. It’s just outside my expertise.

[2019-03-12 17:03] #319 closed

[2019-03-13 07:10] hfdavidyu opened #320 "FermiGBMBurstCatalog() stopped working"
Hi,

This morning when I do

`%matplotlib inline
import os
import seaborn as sns
from matplotlib import cm
from matplotlib import pylab
import matplotlib.pyplot as plt
import numpy as np

import warnings
os.environ["MKL_NUM_THREADS"] = '1'
os.environ["OMP_NUM_THREADS"] = '1'
os.environ["NUMEXPR_NUM_THREADS"] = '1'
warnings.simplefilter('ignore')

from threeML import *
from threeML.io.package_data

[2019-03-13 08:34] grburgess commented on #320
Hi David. I just checked on my computer and cannot reproduce the result. Are you using the latest version? Is it possible you just have a slow connection?

[2019-03-13 09:19] hfdavidyu commented on #320
Hi Michael, I just uninstalled 3ML and then re-installed. I checked that the internet speed is fast enough too, but the problem still persist.

[2019-03-13 10:51] grburgess commented on #320
Hi,

So the latest build of threeml on the test server worked and passed the test. There must be something else going on.

/J. Michael

[2019-03-13 23:18] henrikef commented on #315
I'm not sure what's going on... Testing with netcat, according to https://stackoverflow.com/questions/3764291/checking-network-connection.

On my laptop (MacOS):
[code]

On one of our local (MTU) ubuntu desktops:
[code]

[2019-03-14 07:22] grburgess commented on #315
This is really odd. Can you make a venv and try with a fresh install to see if it is an odd problem?

[2019-03-15 07:28] hfdavidyu commented on #320
Hi Michael, I did nothing but it is suddenly working again this afternoon. Strange.

David

[2019-03-15 07:30] grburgess commented on #320
Great! It’s likely some local internet configuration gone awry.

/J. Michael

[2019-03-17 06:43] #320 closed

[2019-03-26 20:40] omodei opened #322 "FermipyLike.py needs new IRFS for P305"
In FermipyLike.py there is an hardcoded lookup table to match event class number with IRFS names. It's call "evclass_irf", and needs to be updated with new IRFS name, or any analysis with P305 will fail. Also, would be good to keep backwards compatibility.

[2019-03-27 21:47] omodei commented on #322
Working on IS322 branch.

[2019-03-28 17:30] eliadse opened #323 "Too many samples in fit are thrown"
![Screenshot_2019-03-28 JupyterLab](https://user-images.githubusercontent.com/49037661/55177714-26343780-5184-11e9-8aee-d3f935815b2c.png)

I'm following the example 090217206.ipynb but most of my data are rejected when I do the fit. I tried enlarging the boundaries as suggested. Doing that sometimes I got less data rejected, but other times I got more.

Right now the boundaries of the model's para

[2019-03-29 12:48] #58 closed

[2019-03-29 12:48] #235 closed

[2019-03-29 12:49] #208 closed

[2019-03-29 12:49] #230 closed

[2019-03-29 12:50] grburgess commented on #228
Is this issue solved?

[2019-03-29 12:51] grburgess commented on #234
Hi! Is this issue still relevant? Otherwise, we should close it

[2019-03-29 12:51] #229 closed

[2019-03-29 12:52] grburgess commented on #286
@JohannesBuchner Shall we take a look at this together and solve the issue?

[2019-03-29 12:55] grburgess commented on #305
Hi sorry for the delay! I can have a look at how to solve this. Ideally, this is *not* a good idea as the x-axis between the plugins is not guaranteed to be the same. SpectrumLike could have _reconstructed_ energy that is highly instrument dependent, and XYLike could have _true_ energy. Thus, it would convey an imprecise understanding of these two data spaces. That being said, I know how to fix it

[2019-03-29 13:05] grburgess commented on #315
Just checking again if this is still active. Thanks!

[2019-03-29 15:31] henrikef commented on #315
Yes. I have an idea for how to make it more robust (essentially, testing a
'secondary' port if the first one times out, just haven't had time to sit
down and implement it.

On Fri, Mar 29, 2019 at 9:05 AM J. Michael Burgess <notifications@github.com>
wrote:

--
sent from Mars

[2019-03-29 16:26] grburgess commented on #323
Hi! So, at first, I thought that this was just the example not working. It should not as it is outdated and I am working to update this to a more modern build. That being said, if this is with a different data set, it is hard for me to understand the issue without a small working example or some code snippets. Can you please provide them here and we can work through this together? Thanks!

[2019-04-03 10:22] eliadse commented on #323
I'm using a different data set, yes. I'm also using OGIPLike instead of FermiGBMLike.
These are the data sets I'm using, from LAT and GBM. I hope this helps

[https://drive.google.com/file/d/1MfN3k4tKbpDk-fRmoKISF51VQp-V6lo3/view?usp=sharing](url)
[https://drive.google.com/file/d/1674LlJeuedSlcNUsHmwxyu-X0eT9GqID/view?usp=sharing](url)
[https://drive.google.com/file/d/10sO3s-1kJaUen2OlCOO2tIVDbOmR

[2019-04-03 12:24] grburgess commented on #323
These links do not give me anything. Could you provide the script you are using?

[2019-04-03 13:43] eliadse commented on #323
In point 14 is where the problem is
[combinedLHtutorial.pdf](https://github.com/threeML/threeML/files/3038927/combinedLHtutorial.pdf)

[2019-04-03 15:47] grburgess commented on #323
From the first look, I would say that there is nothing wrong with the code. It appears that the fit is bad. It is not that the data are rejected, but rather that when 3ML samples the covariance matrix, it rejects samples too often because of the error distribution. Try fitting the GBM data alone or try different models.

[2019-04-19 02:40] cbrisboi opened #327 "test_hawc.py does not support hawc_hal"
Running `pytest -vv hawc_test.py` gives

[code]

This is on centos 6. The abort may be related to ongoing compilation problems on linux for aerie, but investigating the tests themselves, to try to figure out the origin of the error,

I noticed we should probably support running the threeML tests for hawc with hawc_hal.

[2019-04-19 13:50] colasri commented on #327
One thing which has been generating segfaults recently with HAWC's software is the ROOT config file ~/.rootrc. Deleting it has be found to solve it.
Can you try rerunning the tests after deleting or moving this file?

[2019-04-19 16:52] cbrisboi commented on #327
After moving `.rootrc` the test did pass. This is really helpful! thanks @colasri

Doesn't change the issue, but at least now I can say I have a working install at umd.

[2019-04-19 17:05] henrikef commented on #327
Do we know if it's the mere existence of the rootrc file causing issues, or
specific common lines in it?

On Fri, Apr 19, 2019 at 12:52 PM Chad Brisbois <notifications@github.com>
wrote:

--
sent from Mars

[2019-04-19 17:22] colasri commented on #327
I don't know, I haven't tracked that down.

[2019-04-19 17:26] cbrisboi commented on #327
I can fix the supporting hal Issue on an after next week timescale. The rootrc thing might need one of its own.

[2019-04-19 22:04] henrikef opened #329 "Builds failing (master not compatible with numpy 1.12 anymore)"
See my recent comments on https://github.com/threeML/threeML/pull/289 (not sure if people will get notified since I commented on a closed pull request).

[2019-04-19 22:08] henrikef commented on #329
That pull request uses `np.quantile`, which was introduced in numpy 1.15. We are running numpy 1.12.1, so a bunch of stuff broke.

Is this: https://github.com/threeML/threeML-meta/blob/master/recipe/meta.yaml the place we'd have to change the numpy version? Any reason *not* to upgrade?

[2019-04-19 22:14] colasri commented on #327
I'm not sure what this issue is about. AFAIU, `hawc_test.py` requires LiFF. And the HAL tests are separate. Do you plan include the HAL tests to `hawc_test.py`? And make HAL a requirement?

[2019-04-19 22:20] cbrisboi commented on #327
Correct me if I'm wrong, but the purpose of the tests is to see if the plugins work (for some definition of work depending on the test). So shouldn't test_hawc.py test both hawc plugins, LiFF and hawc_hal?

[2019-04-19 22:28] colasri commented on #327
We have tests for both. The HAL tests are in https://github.com/threeML/hawc_hal/tree/master/tests.
Do you plan to include these in `test_hawc.py`? If so, would it fail if either the LiFF or the HAL pluggin is missing, or would you consider one enough?
I would not require both. I'd rather have a `test_hawc_liff.py` and a `test_hawc_hal.py` separately.

[2019-04-19 22:29] cbrisboi commented on #327
I think that is probably the best way forward, to test them separately.

[2019-04-24 19:36] henrikef opened #332 "test_FermipyLike fails"
test_FermipyLike fails with the below message. This is on a clean install of threeML and astromodels from conda. Is this related to the switch to 4FGL, which has more sources than the 3FGL?

[code]

[2019-04-25 07:21] grburgess commented on #332
I think so! @omodei fixed it, but new versions do not go to conda if we cannot build...

[2019-06-20 03:39] Aishwarya113 opened #335 "'pytest -vv -rs --pyargs threeML' Fails"
'pytest -vv -rs --pyargs threeML' test fails with the error message saying:
dlopen(libmultinest.dylib, 6): image not found

<img width="1280" alt="Screen Shot 2019-06-19 at 11 33 40 PM" src="https://user-images.githubusercontent.com/51973893/59816724-32dfac00-92eb-11e9-96f7-cead94a2604a.png">

[2019-06-24 13:53] grburgess commented on #335
It appears you do not have multinest installed.

[2019-09-05 09:03] asattools opened #336 "Problem with installation and testing"
I am trying to install threeML, however, I am getting many problems to make it work.

I am trying to run the cell [1] given here https://threeml.readthedocs.io/en/latest/notebooks/Quickstart.html
I am facing a few problems at the beginning itself.  I am listing them here

1) Warning when called for the first time (please see attached Figure1.png)

2) The yerr cannot be negative (Please see Figure2

[2019-09-05 09:08] asattools commented on #336
I am unable to load images about this issue. I have sent the images via mail. Please load them here if needed.

[2019-09-06 12:24] grburgess commented on #336
Hello, this is likely due to installing from pip which is slightly out of date with GitHub due to some testing issues. The GitHub version corrects issues due to an interface change with Minuit and YAML.

To solve this problem, it is recommended to install via GitHub at the moment.

[2019-09-24 20:45] israelmcmc opened #337 "pytest -vv -rs --pyargs threeML -k "ermipy" fails"
An unit test fails with fermipy:
[code]

I installed 3ML and fermipy with `conda create --name $ENVIRONMENT_NAME -c conda-forge/label/cf201901 -c fermi_dev_externals -c threeml -y fermitools threeml boost=1.63 cmake zeromq cppzmq healpix_cxx=3.31 fermipy`

@henrikef seems to know why this happens...

[2019-09-25 16:34] henrikef commented on #337
So looking into this, it seems that in the newest version of the 4FGL (gll_psc_v19.fit) they switched back to using `PLSuperExpCutoff` instead of `PLSuperExpCutoff2` as the parametrisation of cut off spectra. However, I suspect that internally, they are still using that latter since they quote the best-fit value of `PLEC_Expfactor`.

(See https://fermi.gsfc.nasa.gov/ssc/data/analysis/scitools/sour

[2019-09-25 16:56] omodei commented on #337
I think I have fixed this already. I’ll have a look

[2019-09-25 17:06] henrikef commented on #337
https://github.com/threeML/threeML/blob/master/threeML/catalogs/Fermi.py#L533

Works with gll_psc_v18.fit, but not with the most recent one (gll_psc_v19.fit).

But, it could just be changed to `elif spectrum_type in [ 'PLSuperExpCutoff',  'PLSuperExpCutoff2' ]:`

[2019-09-25 17:15] omodei commented on #337
It looks a reasonable fix. I can do the fix

[2019-09-25 19:55] #335 closed

[2019-09-25 19:55] henrikef commented on #335
closed after discussion offline.

[2019-09-25 19:56] henrikef commented on #336
Resolved.

[2019-09-25 19:56] #336 closed

[2019-09-25 19:57] henrikef commented on #337
Some more updates to the fermipy tests are needed to make them pass, see https://github.com/threeML/threeML/pull/338

[2019-09-25 21:40] henrikef commented on #337
Should be fixed by https://github.com/threeML/threeML/pull/338

[2019-09-25 21:40] #337 closed

[2019-09-25 21:40] henrikef commented on #332
Fixed by https://github.com/threeML/threeML/pull/338

[2019-09-25 21:40] #332 closed

[2019-11-07 08:16] #178 closed

[2019-11-07 08:16] #228 closed

[2019-11-07 08:16] #234 closed

[2019-11-07 08:19] #309 closed

[2020-02-18 20:29] hayalaso opened #343 "Version for astroquery"
Hello,
I noticed that verision 0.4 of astroquery gives an error due to a syntax (see below). I downgraded my version to 0.3.6.post2 and was able to run again my application.

[code]

[2020-03-17 16:12] migaraya opened #344 "Error installing threeML"
Hello,
after trying to install threeML with
pip install git+https://github.com/threeML/threeML.git

I get the following error. Has anybody seen that?

`DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be

[2020-03-17 16:14] grburgess commented on #344
Did this result in an error or a warning? We are currently in the process of migrating 3ML to py3, so hopefully this is gone soon

[2020-03-17 16:32] henrikef commented on #344
I think the problem is at the very bottom:

[code]

[2020-03-17 16:34] grburgess commented on #344
Ah... I did not see that. Hmm, we should not make pagmo a requirement for pip. I will fix that.

[2020-03-17 16:37] migaraya commented on #344
Yeah, the problem it's the error at the end.

[2020-03-17 16:43] grburgess commented on #344
Ok, I could get around this issue by removing the req in the setup file. However, a ton of other issues popped up because python2 is basically dead. I'm going to try version pinning even more, but this might break other things.

[2020-03-30 19:27] ShabnamIyyani opened #345 "Not able to do hypothesis probability test using models from Xspec. Gets error specified function is not a known function."
Starting ipyparallel cluster with this command line:
/Users/shabnam/miniconda/envs/threeML/bin/ipcluster start  --profile=default
Waiting for connection file: ~/.ipython/profile_default/security/ipcontroller-client.json
12 engines are active
0 / 800 in 0.1 s (--:-- remaining)

Shutting down ipcluster...
[8:apply]:
---------------------------------------------------------------------------ModelSynt

[2020-04-03 20:06] grburgess commented on #345
Thanks for the issue! We are having a look.

[2020-04-03 20:08] grburgess commented on #345
We are currently in the middle of upgrading to python3 at the moment. My first guess is that this is an issue with serializing the XSPEC models for parallel. This should work, but only @giacomov could give a quick definite answer.

[2020-04-11 14:22] grburgess commented on #344
Hi! Just wanted to let you know that we have made a new release and it should install on either python2 OR python3 now. please try via pip and let us know if you have trouble.

[2020-04-11 18:02] migaraya commented on #344
Thank you. I was actually able to install the software using a ''clean'' new user a while ago. Perhaps some paths were set that messed with my installation.

[2020-04-11 18:02] #344 closed

[2020-04-11 18:32] grburgess commented on #344
I think there is still pygmo in the setup. I will remove it now.

[2020-04-14 20:58] domeckert opened #352 "OGIPLike trying to read missing background file when keyword is set to ' '"
Hi

Trying to read a PHA file produced by XSPEC with no background ("fakeit none") I got the following error:

ValueError: Empty filename: ''

It appears it is trying to read an empty background file. When setting the BACKFILE keyword to NONE the problem disappears.

[2020-04-15 07:37] grburgess commented on #352
Thanks for finding this. It should now be solved!

[2020-04-15 07:37] #352 closed

[2020-04-15 07:39] grburgess commented on #345
there is a very new version of 3ML on pypi and Conda. Can you please retry with the new version in python3 and see if you issue persists?

[2020-04-15 07:41] grburgess commented on #343
Is the issue still existing? There is a new version of 3ML (py3 compatible) and it could solve a lot of issues such as this

[2020-04-15 07:42] grburgess commented on #329
Is this issue still active? It might have gone away with the newest version.

[2020-04-15 07:43] grburgess commented on #286
I am closing due to inactivity. Please reopen if needed!

[2020-04-15 07:43] #286 closed

[2020-04-16 05:28] sergiohcdna opened #355 "Installation with pip fails for python 2.7.16"
I tried to install threeML using python 2.7.16, but after getting some required packages, pip fail the installation because there is not any available version of zeus-mcmc for python 2.7

The output of this error is:

Collecting astroquery
  Using cached astroquery-0.4.tar.gz (4.5 MB)
Requirement already satisfied: corner in /home/shkdna/.local/lib/python2.7/site-packages (from threeML==1.0.4+3.g2

[2020-04-16 07:17] grburgess commented on #355
Thanks for finding this. Yes, we have recently migrated to python3 and this was a mistake to include zeus by default as it is only python3. I will push a fix in a few moments.

[2020-04-16 08:11] grburgess commented on #355
@sergiohcdna, @ndilalla will push the new master to pip later today. However, you can install manually from the master now and it should work. Sorry for the error

[2020-04-16 13:32] sergiohcdna commented on #355
Thanks, I will try now the installing this version

[2020-04-16 13:54] sergiohcdna commented on #355
I tried the installation from the master. The installation goes fine. But when I trying a simple import I got the following error:

Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/home/shkdna/hawcSoft16042020/externals/16042020/External/python/2.7.17/lib/python2.7/site-packages/threeML/__init__.py", line 257, in <module>
    from threeML.catalogs import *
  File

[2020-04-16 14:22] grburgess commented on #355
Indeed. This is man issue with the version of astro. You will need to make sure you have a clean environment and install.

[2020-04-16 15:18] sergiohcdna commented on #355
Ok.

I will try this later. Thanks for your help :)

[2020-04-16 18:16] sergiohcdna commented on #355
Hi!

I successfully installed threeML (from master). To solve the problem with astroquery I noted that threeML install astroquery 0.4 by default but installing astroquery 0.3.10, solve the problem.

Thanks for your help :)

[2020-04-16 18:17] grburgess commented on #355
Ah, yes, this seems like a python2 thing. Are you tied to python2?

[2020-04-16 18:18] sergiohcdna commented on #355
Yes.
For several reasons, the analysis software I am using is only available in python 2

[2020-04-16 18:19] grburgess commented on #355
Ah ok. Glad we could fix that. Closing!

[2020-04-16 18:19] #355 closed

[2020-04-16 22:19] omodei opened #356 "download_LAT_data returns multiple files for large time interval"
When the time range is large, download_LAT_data returns multiple fits files (from the FSSC) and the code fails to unpack them, because only one file is expected.
To reproduce this bug:
----
ra = 83.6331
dec = 22.0199
tstart = '2010-01-01 00:00:00'
tstop = '2011-01-01 00:00:00'
temp_dir = '_download_temp'
ft1, ft2 = download_LAT_data(ra, dec, 20.0, tstart, tstop, time_type='Gregorian',

[2020-04-17 01:57] ndilalla commented on #356
Thanks Nicola for reporting this bug. What's the expected behavior in case of multiple files? Merge the FT1? Or return them as a list?

[2020-04-19 08:07] domeckert opened #357 "Reading background files produced by the extended-source tool of XMMSAS"
Hi all,

I am facing an issue when trying to read a background file outputted by the extended source analysis package (ESAS) of XMMSAS. You can find the error below

![image](https://user-images.githubusercontent.com/47885645/79682721-c6904a80-8224-11ea-8de1-b5b31169458e.png)

I come to understand that this is due to the file containing channels with Gaussian error set to 0. I understand that this

[2020-04-19 08:30] grburgess commented on #357
Hi @domeckert. Thanks for pointing this out. Indeed, we are being very strict about standards in 3ML. The issue with ignoring is that a user and always revert this and then 3ML will produce erroneous results. At least in its current form.  I think we can build a work around... the question is how toileting make sure it keep the likelihoods fast, i.e., no checking at fit time. We should discuss thi

[2020-04-19 09:06] domeckert commented on #357
Wouldn't it be possible to set these channels as invalid when reading the file and not even allow the user to include them?

[2020-04-19 09:08] grburgess commented on #357
It is possible... but at the moment there is no mechanism to prevent channels from being used. Only to exclude them. Changing this would require some delicate thought and programming to a lot of the low level stuff.

[2020-04-19 09:36] domeckert commented on #357
The thing is, these channels are invalid channels and always ignored. I don't even know why they are included in the RMF in the first place, the PN always has 0 counts. How about setting a flag?

[2020-07-08 02:14] Tangqingwen opened #363 "How to configure and set up the Fermi Science Tools?"
I have installed the Fermi Science Tools via conda, then I install the threeML via conda. Now gtirfs is not work when in the threeML env. So how to configure and set up the Fermi Science Tools? Thank you very much.

[2020-07-08 17:03] omodei commented on #363
Hi!
Fermitools are not released for python 3 yet, this is probably why you run into issues.
I would recommend to use the installation script you can find here:
https://raw.githubusercontent.com/threeML/threeML/master/install_3ML.sh
and call it with :
./install_3ML.sh --with-fermi --python 2.7 -env-name YOUR_ENV_NAME
This will create a python 2.7 environment with fermitools, and threeml. (If you al

[2020-07-10 08:09] Tangqingwen commented on #363
Hi omodei,
It is work now, thanks for your quick reply!

[2020-07-10 08:55] #363 closed

[2020-07-11 05:21] Tangqingwen opened #364 "How to build pha, bak and rsp files via TimeSeriesBuilder?"
Hi!
In the section of "Example joint fit between GBM and Swift BAT", pha, bak and rsp files are needed, but I do not know how to build it by TimeSeriesBuilder?  How to produce them, for example to GBM data and LAT data?
When I use the original cspec file, rsp files, and a bak file from rmfit for a detector, it can be read, but the following processes seems to be wrong. For example, .view_count_spe

[2020-07-12 05:55] grburgess commented on #364
Hello,

There is documentation for the time series builder here: https://threeml.readthedocs.io/en/latest/notebooks/Building_Plugins_from_TimeSeries.html

Please let us know if there is further explanation required.

Currently, LAT data must be produced (reduced) via the Fermi Science Tools as is the case for many other instruments. In fact, the design of 3ML is to not use LAT data (other than) in

[2020-07-12 08:38] Tangqingwen commented on #364
Hi J. Michael Burgess,
Your comments solved my problems exactly!

 Thank you very much.

[2020-07-12 18:49] grburgess commented on #364
However, the view count spectrum is not working?

[2020-07-13 01:14] Tangqingwen commented on #364
When loading the data derived from  the time series builder, the view count spectrum now does work.

Thank you!

[2020-07-13 06:15] #364 closed

[2020-08-03 18:21] mishaulan opened #365 "Help with threeML fit"
I"m trying to fit FermiLat data over a period from to  .  When I use a power law fit I get an index that is close to the published 3FHL and 4FGL values, but fitting with a log-parabola doesn't return the values I'd expect.  I've tried running with parameters in a narrow bound around the expected values and also with wider parameter bounds but in both cases the a large number of events are thrown o

[2020-08-03 18:54] omodei commented on #365
I am trying to replicate your example. I am having trouble downloading LAT data using the download_LAT_data method. Now I am downloading the data manually. Can you check meanwhile that you have LAT data covering the entire dates selection?

[2020-08-04 20:23] gsrinivasaragavan opened #366 "Help with GTBurst GUI within Jupyter Notebook"
Hi,
I am trying to fit five FERMI-LAT LCs, and am working within the threeML_test_2.7 environment. GTburst and ThreeML work correctly, however when fitting the bursts, the GUI corresponding to GTburst within the notebook does not seem to be working correctly, it shows up as a blank space, though I am able to move the cursor around within the GUI and close the GUI. I checked if this was a problem w

[2020-08-04 21:36] omodei commented on #366
GTBurst and threeml are separate things. We have never tested opening the gtburst gui into the notebook. gtburst is a stand alone app.

[2020-08-04 21:36] #366 closed

[2020-08-04 23:46] omodei commented on #365
I have downloaded manually the LAT data (you can connect to the url that is shown when you run your script (look for this output in the terminal:)

"If this download fails, you can find your data at https://fermi.gsfc.nasa.gov/cgi-bin/ssc/LAT/QueryResults.cgi?id=L20080314454820F6A8B354 (when ready)"
You'll have to download the files manually (wget is not working, I have report this to the FSSC...)

[2020-08-05 17:57] omodei commented on #356
The download_LAT_data should return one ft1 and and ft2. I'll try to add few lines to do:
1. make a list of the downloaded files
2. Run gtselect to obtain a merged file.

[2020-08-05 17:58] omodei commented on #365
This is also related to issue  #356

[2020-08-05 21:27] #329 closed

[2020-08-05 22:06] henrikef opened #369 "Bayesian analysis in python 2.7"
I'm running the tests locally on the current version of the master branch on github and I'm getting a bunch of errors in the bayesian analysis, see below for an example. Looks like it's related to this commit: https://github.com/threeML/threeML/commit/6642a3c1cd23130a44c4901febc00781b467ad93#diff-2fe3e592087d17338f8514ee4c7de5e9R55

That was with emcee version 2.2.1, which I had probably due to th

[2020-08-06 00:26] henrikef commented on #369
Never mind. I did solve this by upgrading emcee, like so:

[code]

[2020-08-06 00:27] #369 closed

[2020-08-06 08:26] grburgess commented on #369
Oops! Yes, I had to update this as emcee changes. I'm not super sure we should track backwards compatibility with all of our dependencies. But I am open to it.

[2020-08-08 23:25] mishaulan commented on #365
I've been using an emin of 10 GeV because I'm trying to use the same general parameters as the 3FHL.  I did however take your suggestion and ran with emin=100 MeV which returns a fit of:
WARNING UserWarning: 50.82 percent of samples have been thrown away because they failed the constraints on the parameters. This results might not be suitable for error propagation. Enlarge the boundaries until you

[2020-08-12 16:06] rahulc157 opened #370 "Joint spectral analysis of Fermi GBM and LAT"
Hi,

I created GBM and LAT spectra using gtburst software. I am able to plugin GBM and LAT LLE spectra but not to LAT high energy spectrum. How to plugin the Fermi-LAT data of GRBs in threeML?

Also while fitting time-resolved spectra, I noticed negative BIC values in some of the bins, what could be a possible reason?

Thank you.

[2020-08-13 07:29] grburgess commented on #370
1) First thing to note, I would ignore BIC and AIC values in general, but very much so BIC. We place them there out of convenience, but BIC is not really something one should use for any reason. Moreover, only relative values of any point statistic matters.

2) Gtburst is great software, but we have placed a lot of the functionality into 3ML (much of it coming from gtburst which was written by the

[2020-08-13 10:10] rahulc157 commented on #370
Thank you very much @grburgess . I agree with suggestion on BIC, however I find negative value of  -log(likelihood) as well. How to explain this?

I tried to plugin Fermi LAT data using FermiLATLike  but got the following error.

File "/home/rahul/anaconda3/envs/threeML/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3343, in run_code
    exec(code_obj, self.user_global_ns, sel

[2020-08-14 03:34] grburgess commented on #370
you will need to install the fermi tools to use the fermi plugin. Also, the fermi told currently only work with python2 until NASA upgrades to python3 which would be in the near future.

[2020-08-24 09:17] ivvv opened #371 "ThreeML HTTP 503 SERVICE UNAVAILABLE for conda channel"
I'm trying to install threeML following the installation instructions:

`conda install -c conda-forge -c threeml astromodels threeml`

this command fails with:

[code]
I will try again later, as suggested in the error message. Meanwhile I'll try to install it via `pip`

[2020-08-24 09:18] grburgess commented on #371
Thanks! We will have a look, @ndilalla there is still a threeml channel, correct?

[2020-08-24 10:53] ivvv opened #372 "Cannot display OGIP-like (XMM pn) spectra"
I am trying to use threeML with XMM data. Reading the OGIP-like spectra (PHA, background, ARF, RMF) seems to work OK but when I try to display the counts spectrum it fails. Here is some code:

[code]

this fails with the following error:

[code]
I have tried with rebinning the background, rebinning the source or limiting the energy ranges and it still does not work.

[code]

The 4 test files (as p

[2020-08-24 12:19] grburgess commented on #372
I've pushed a fix that should fix the issue.

[2020-08-24 17:31] ndilalla commented on #371
Yes, of course. I've just tried to reproduce the error but it is working well on my laptop. Probably it was just one (of many) temporary glitch of conda. @ivvv could you please try again and see if it works?

[2020-08-24 17:32] grburgess commented on #371
I think @ivvv observed  earlier that a server was down.

[2020-08-25 07:28] ivvv commented on #371
Just tried it. It seems the server can be accessed now, but the conda installation does not look to work properly. I started with a fresh new conda environment:
1. `conda create --name threeML -c conda-forge python=3.7 numpy scipy matplotlib`
2. `conda install -c conda-forge -c threeml astromodels threeml`
[code]
this takes a long time to solve and then `libgfortran` and `scipy` need to be downgra

[2020-08-25 07:37] ndilalla commented on #371
Hi @ivvv, thank you for reporting this. I am sorry, we are in the process of removing most of the version requirements causing these issues. In the meantime, did you try to use the install script provided in the documentation? It should take care of installing all the needed packages.

[2020-08-25 07:44] ivvv opened #374 "Docs missing plots and notebook with errors"
The notebook in the docs on the Point Source Plotting Basics seems incomplete: it was not executed and the plots are missing. In addition, there is a unit conversion error in one of the first cells. [This page.](https://threeml.readthedocs.io/en/latest/notebooks/Point_source_plotting.html)

[2020-08-25 07:47] ivvv commented on #371
Hi @ndilalla, no I did not use the install scripts, I went the pip way and this worked ok. I.e. I've created a clean new conda environment and then installed 3ML with pip in this new environment.

[2020-08-26 21:33] grburgess commented on #372
should be fixed now

[2020-08-26 21:33] #372 closed

[2020-09-03 09:29] rahulc157 commented on #370
Hi,

Thanks @grburgess .

I have two quires, one related to temporal (LC) and other related to spectral plotting in flux unit along with data.

1. Can we get the energy-resolved prompt emission light curve (in different energy bins) of Fermi GBM/LAT-LLE data using 3ML? Like we can get the full energy channel LC following below but how to select the energy bins for LC?
 https://threeml.readthedocs.

[2020-09-03 14:40] grburgess commented on #370
Hi @rahulc157

1) this ability does not exist in 3ML at the time, but would be a welcome contribution.

2) Do you mean plotting the data simultaneously in flux space?

[2020-09-03 15:59] rahulc157 commented on #370
Thanks @grburgess .

1. i find some where, it was there (to set energy resolution for LC) earlier in threeML, it is an important aspect. Hope it will be included soon.
2. Yes, I want to plot data and model both in \nu F_{\nu} space, something like Figure 2 from this paper https://arxiv.org/pdf/1811.05433.pdf .

[2020-09-03 16:05] grburgess commented on #370
@rahulc157 We explicitly do not plot data points in flux space because there is no correct way to do that. Though it appears in many publications, it is an incorrect thing to do.

I have seen that people used 3ML to do this, but it was done in a custom way and we do not recommend it.

[2020-09-11 00:40] omodei commented on #356
I have created a PR #376 that should fix this.

[2020-09-11 23:26] ndilalla commented on #356
Pull request merged on master. Closing this issue.

[2020-09-11 23:26] #356 closed

[2020-09-14 13:24] chenjiaming5821 opened #377 "Using Spectral Fits to Calculate Fluxes"
Hi!
     How to calculate the Fluence of each bin?

[2020-09-15 06:53] grburgess commented on #377
Can you provide a more specific question? Do you mean each spectral bin? Which type of plugin?

[2020-09-15 07:10] chenjiaming5821 commented on #377
Thank you very much for your reply.I want to perform time-resolved analysis and calculate the fluence of each time bin.

[2020-09-15 07:30] chenjiaming5821 commented on #377
Thank you very much for your  @grburgess .I want to perform time-resolved analysis and calculate the fluence of each time bin.

[2020-09-15 07:37] grburgess commented on #377
Each fit provides the ability to compute the energy flux over a given energy range via the analysis results object. Once can then take that an multiply by the exposure to obtain the fluence.

[2020-09-15 13:35] chenjiaming5821 commented on #377
thank you for your help!

[2020-09-19 13:38] chenjiaming5821 opened #378 "How to know the goodness of spectral fit?"
Hi
     How to know the goodness of spectral fit?

[2020-09-20 11:58] grburgess commented on #378
This is really more of a statistics question that is general.

The documentation has sections on bootstrapping goodness of fit. Please consult the documentation.

But it should be noted that goodness of fit is an ill-defined statistical term.

[2020-09-20 11:58] #377 closed

[2020-09-24 04:18] mingjiac opened #379 "perform time-resolved analysis"
Hi,
    I am a beginner in 3ML and I want to perform time-resolved analysis; calculate_point_source_flux() can only get the total flux, how to get the flux of each bin?

[2020-09-24 08:00] grburgess commented on #379
Can you define what you mean by bin and which plugin you are referring to?

The point source flux is a function of the model. There is no concept of flux on the data side and they detect rates. Does this make sense?

[2020-09-24 10:09] mingjiac commented on #379
Thanks for your reply, bin is time intervals, I want to get the flux of time slices in time-resolved spectral, what plug-in do I need to use?

[2020-09-24 13:46] grburgess commented on #379
Ah. Each time interval fit should have a model associated with it. If you can share some code, it will be easier to help.

[2020-09-24 14:08] mingjiac commented on #379
[spectral analysis.pdf](https://github.com/threeML/threeML/files/5276641/spectral.analysis.pdf)
This is my code.

[2020-09-24 14:14] grburgess commented on #379
It appears, at the very end, that you have computed the results. Is there a clean example you can provide that shows the confusion?

[2020-09-24 14:21] mingjiac commented on #379
I want to get F(Col. 8) in the picture .PICTURE:/home/admin/.config/tencent-qq//AppData/file//sendpix2.jpg

[2020-09-24 14:34] grburgess commented on #379
I understand the result, but I do not see where you have an issue. Is there a specific code example that you can show using the syntax provided in GitHub issues that illuminates the part that is confusing?

[2020-09-24 14:43] mingjiac commented on #379
My question is very simple. I use the calculate_point_source_flux() plugin to only calculate the total flux. The result I want is the flux of each time slice. How do I write the code?

[2020-09-25 07:29] grburgess commented on #379
Perhaps the structure of the model is not explained well enough. Each fit is associated to a model. That fit can be over several plugins corresponding to different time intervals, the same time interval, etc. There is a large amount of freedom to design an analysis.

If you are performing fits on several intervals, for example, to a GRB, then each will have a model associated to it. The model can

[2020-10-01 13:36] #379 closed

[2020-10-01 13:36] #378 closed

[2020-10-26 05:59] mingjiac opened #381 "Help with Fermi GBM spectral analysis"
HI,
    How to use the synchrotron model to fit the Fermi GBM spectrum?

[2020-10-26 09:51] grburgess commented on #381
Hi @mingjiac which synchrotron model do you mean?

[2020-10-26 10:35] mingjiac commented on #381
Thanks for your answer @grburgess ,I mean cool synchrotron.

[2020-10-26 10:39] grburgess commented on #381
Can you specify the package you would like to use?

[2020-10-26 10:46] mingjiac commented on #381
I want to use cool synchrotron model in 3ML.

[2020-10-26 10:49] grburgess commented on #381
Which one? There is a synchrotron package included from naima, but these are not appropriate for GRBs. Do you have your own model you would like to include?

[2020-10-26 11:03] mingjiac commented on #381
There is no synchrotron model suitable for GRB in astromodels?

[2020-10-26 11:08] grburgess commented on #381
There is no standard synchrotron model. There are external packages. OR one can write the model themselves.

[2020-10-26 11:30] mingjiac commented on #381
Do you know any external packages? I saw in your paper that you used the synchrotron model.

[2020-10-26 11:42] grburgess commented on #381
https://pypi.org/project/pynchrotron/

[2020-10-27 00:32] ndilalla opened #382 "Catalog tests failing with astropy 4.1"
Using the last version of `astropy` (4.1, released 3 days ago) we got the catalog tests all failing:
[code]
The problem seems to be here:
[code]
I am working on it.

[2020-10-27 02:29] ndilalla commented on #382
This should be related:
https://github.com/astropy/astropy/pull/9505

[2020-10-27 05:41] mingjiac commented on #381
Thanks for your help.I ran into a problem when I defined the prior, and an error occurred when performing Bayesian fitting. Below is the prior I defined:
syn= pynchrotron.SynchrotronNumerical()
syn.gamma_min=1e5
syn.K.prior=Log_uniform_prior(lower_bound=0.01, upper_bound=1e1)
syn.B.prior= Log_uniform_prior(lower_bound=1e-2, upper_bound=1e2)
syn.gamma_cool.prior=Log_uniform_prior(lower_bound=1e3, u

[2020-10-27 08:20] grburgess commented on #381
You have set the mean of the gaussian outside the prior for the electron index.

[2020-10-27 08:24] grburgess commented on #382
@ndilalla This, looks like some changes I made to deal with all these weird UTF-8 strings back when we were first changing to py3. It seems satrapy keeps going back and forth on these things...

[2020-10-27 14:44] mingjiac commented on #381
I still got an error after modifying, the modified code:
syn= pynchrotron.SynchrotronNumerical()
syn.gamma_min=1e5
syn.K.prior=Log_uniform_prior(lower_bound=0.01, upper_bound=1e10)
syn.B.prior= Log_uniform_prior(lower_bound=1e-2, upper_bound=1e2)
syn.gamma_cool.prior=Log_uniform_prior(lower_bound=1e3, upper_bound=1e8)
syn.gamma_max.prior=Log_uniform_prior(lower_bound=1e5, upper_bound=1e9)
syn.inde

[2020-10-28 11:14] grburgess commented on #381
You have not bounded the parameter properly.

[2020-10-29 01:15] ndilalla commented on #382
I pushed a fix in the `fix_test_catalog` branch. Now I am going to fix also the installation script.

[2020-11-02 10:00] grburgess commented on #381
Is this issue resolved @mingjiac ?

[2020-11-03 08:08] mingjiac commented on #381
Thanks for your help, the problem has been solved.

[2020-11-03 10:15] #381 closed

[2020-11-03 10:16] #370 closed

[2020-11-03 19:05] henrikef opened #385 "Incompatibility(?) with fermipy 1.0.0?"
I'm seeing some issues with `test_FermipyLike`, which is skipped in the travis ci tests.

I'm using theeML 2.0.1, astromodels 2.0.1, fermitools 2.0.0, fermipy 1.0.0 with python 3.7.8, all installed via conda.

All tests pass except for `test_FermipyLike`, which at first gave me an `AssertionError` as it found more sources in the LAT catalog than expected (see [log1.txt](https://github.com/threeML/

[2020-11-17 22:40] cbrisboi opened #387 "Root minimizer broken?"
I was running a test fit with hawc_hal last night and today. Today I spent some time creating a minimal example.

Using the HAWC public data set and a stripped down version of the basic example from the readme of hawc_hal, I have found that although the root minimizer is giving difficulties, minuit does not appear to have the same issue. It may be that a simple fix is available. I mentioned this o

[2020-11-17 22:57] henrikef commented on #387
Hi Chad! I can reproduce this error.

Note that the example is not executable as is, but the missing files can actually be downloaded from

https://data.hawc-observatory.org/datasets/crab_data/public_data/crab_2017/HAWC_9bin_507days_crab_response.hd5 and
https://data.hawc-observatory.org/datasets/crab_data/public_data/crab_2017/HAWC_9bin_507days_crab_data.hd5

[2020-11-18 16:59] #387 closed

[2020-11-18 18:16] torresramiro350 opened #389 "HD5 locking"
Found an issue with threeML with python 3.7 when using `template_model.py`

[code]

[2020-11-18 18:18] henrikef commented on #389
Can you provide a minimal example to reproduce the problem?

[2020-11-22 17:37] grburgess commented on #389
@torresramiro350 while we wait on your example, is it possible that you are trying things in parallel and that the model is being accessed multiple times?

[2020-11-23 16:55] torresramiro350 commented on #389
I'll look into building the example, but I think you're right the HD5 file is opened multiple times during the fitting process.

[2020-12-08 03:58] #385 closed

[2020-12-09 02:34] chenjiaming5821 opened #391 "Help with GBM data analysis"
Hi,
  When using 3ml to analyze GBM data, how to export the light curve data?

[2020-12-09 19:36] grburgess commented on #391
What format would you like export the light curve? In principle all the information is contained in a time series class.

[2020-12-09 19:36] henrikef commented on #327
Closing this as we have separate tests for hawc_hal.

[2020-12-09 19:36] #327 closed

[2020-12-09 19:42] henrikef commented on #389
@torresramiro350 you said on the HAWC slack that `export HDF5_USE_FILE_LOCKING=FALSE` fixed this, is that correct? If that is the case, we should include that in the installation instructions as an option/recommendation and close this issue.

[2020-12-09 19:45] henrikef commented on #371
Is this still a problem, or is the conda installation working now?

[2020-12-09 21:23] torresramiro350 commented on #389
Yes, by setting export HDF5_USE_FILE_LOCKING=FALSE in the script to setup the environment, this issue is solved.

[2020-12-11 08:29] chenjiaming5821 commented on #391
Thank you for your reply. I would like to take out the light curve data of a certain period of time and save it in text format.

[2020-12-11 12:39] grburgess commented on #391
There is no direct way to output a counts light curve. One way this can be achieved is by accessing the counts from a time series builder object.

[2020-12-14 13:03] grburgess commented on #391
One can also save multiple bins to a PHAII file.

[2020-12-15 10:46] grburgess commented on #391
Is the issue resolved @chenjiaming5821 ?

[2020-12-15 10:46] #389 closed

[2020-12-16 07:26] #391 closed

[2020-12-16 10:20] grburgess opened #392 "Update to Iminuit 2.0 interface."
iMinuit made breaking changes to their interface:

https://iminuit.readthedocs.io/en/stable/changelog.html

This needs to be updated, and if further improvements can be made... it would be great. I will leave it open to who would like to do this, but @cescalara has shown interest.

@giacomov I am only putting you there if you still love Minuit and because I think they have now updated the minimize

[2020-12-22 10:18] noonuu opened #397 "RuntimeError while performing JointLikelihood analysis on LAT data"
I followed the file posted in [this issue](https://github.com/threeML/threeML/issues/365) for performing likelihood analysis on Fermi-LAT data using standard LAT energy range. I downloaded the data using `download_LAT_data`, changed a few parameters and when I ran the likelihood analysis it gave me a `RuntimeError` that `the dictionary changed size during iteration`.

I was working with GBM data a

[2020-12-22 10:19] noonuu commented on #397
I've also attached the screenshot of the error

![image](https://user-images.githubusercontent.com/73373619/102877678-f3a69400-4468-11eb-8015-8eeb1bc83a5f.png)

[2020-12-22 10:20] grburgess commented on #397
Hi! Did you just install Fermitools?

[2020-12-22 10:21] noonuu commented on #397
Yes I did install Fermitools

[2020-12-22 10:24] grburgess commented on #397
I also had a recent error with fermitools on the newest install, but this looks like a fermitools issue... perhaps with IRF. Could you post the traceback there as well? @omodei might have some feedback as well.

[2020-12-22 10:33] noonuu commented on #397
Apologies for silly question, I'm new to GitHub. Since I have posted a picture of traceback in my second comment, by **posting traceback over there** (presumably to Fermitools Github) do you mean that I should open the same issue over there as well?

[2020-12-22 10:37] grburgess commented on #397
Sorry, I was being inaccurate. Yes, could you post the *text* at the fermitools issue? You could wrap it in
[code]

as an example which will give syntax highlighting.

[2020-12-22 10:38] grburgess commented on #397
you can refer to this issue with a link which will auto connect the two issues.

[2020-12-22 10:41] noonuu commented on #397
Will surely do, and thank you for your guidance.

[2020-12-22 12:27] grburgess commented on #374
@ivvv just to keep this updated... we are switching to live doc updating, so this should be fixed soon!

[2020-12-22 16:43] grburgess opened #399 "Energy dependent light curve viewing in TimeSeriesBuilder"
## Feature Request

**Is your feature request related to a problem? Please describe.**
There should be an ability to view the light curve based of the cuts in the variable

**Describe the solution you'd like**
Simply an option in the view_lightcurve method

[2020-12-22 18:32] ndilalla commented on #397
Hi @noonuu, this is a known issue of the last version of FermiPy, not threeML:
https://github.com/fermiPy/fermipy/issues/369

[2020-12-23 07:32] grburgess commented on #397
Oh no @ndilalla, should we downgrade to a stable version?

[2020-12-23 09:15] grburgess opened #400 "Proper import __all__ statements"
## Feature Request

We need to clean up the importing so that we do not populate the stack with un needed objects

[2021-01-05 02:31] #365 closed

[2021-01-05 02:31] #345 closed

[2021-01-05 02:31] #357 closed

[2021-01-05 02:31] #343 closed

[2021-01-05 02:31] #323 closed

[2021-01-05 02:31] #322 closed

[2021-01-05 02:31] #305 closed

[2021-01-05 02:31] #315 closed

[2021-01-08 15:20] cbrisboi opened #404 "Alternative to root_numpy"
I was looking at updating `hawc_hal` to use `uproot` rather than the old ROOT interface for its `.root` file io and saw that a big part of the `root_numpy` dependency is carried over from 3ML via the dependency on `threeML/io/cern_root_utils`. I would generally prefer to stay consistent with file handling between 3ML and hawc_hal. Is there a preference for uproot vs the new ROOT interface? This is

[2021-01-08 15:52] grburgess commented on #404
@cbrisboi I think the other part of ROOT that is used in in the ROOT minimizers. Is this also a simple fix?

[2021-01-08 15:58] cbrisboi commented on #404
Since root_numpy is only for file io, this would be (to my mind) somewhat separate from the minimizers. It appears that in the threeML repo(rather than hawc_hal), the only place this code is used is in the VERITASLike plugin, although I am not taking responsibility for that plugin, as I am not a member of VERITAS.

[2021-01-08 16:32] grburgess commented on #404
So this is not the same thing?

https://github.com/threeML/threeML/blob/master/threeML/minimizer/ROOT_minimizer.py#L3

[2021-01-08 17:04] cbrisboi commented on #404
No, thats using `ROOT`, rather than `root_numpy`
See https://github.com/threeML/threeML/blob/master/threeML/io/cern_root_utils/tobject_to_numpy.py#L2

[2021-01-09 09:22] grburgess commented on #404
Aha! Well, I'm all fine with it, but @ndilalla just did all the root stuff, so he should chime in.

[2021-01-11 18:51] ndilalla commented on #404
I am all in for getting rid of `root_numpy` and using `uproot`. @cbrisboi do you know which requirements this new package has?

[2021-01-11 22:24] cbrisboi commented on #404
On _github_, the only strict dependency is numpy, although if going through conda, which I suspect is preferred, the dependencies are ( using `conda info uproot=4.0.0` and then copying the dependencies for python 3.7):

[code]

[2021-01-12 05:57] grburgess commented on #404
Wow. This package is amazing.

[2021-01-12 14:46] rahulc157 opened #405 "Couldn't import plugin FermiLATLike"
Is FermiLATLike plugin has been removed from latest version of threeML?

output of get_available_plugins()

Available plugins:

SwiftXRTLike for Swift XRT
FermipyLike for Fermi LAT (with fermipy)
OGIPLike for All OGIP-compliant instruments
SpectrumLike for General binned spectral data
UnresolvedExtendedXYLike for n.a.
PhotometryLike for Generic photometric data
DispersionSpectrumLike for General b

[2021-01-12 14:48] grburgess commented on #405
Is this a fresh install of fermitools? The latest fermitools are broken and thus it may show the plugin is not there because of that.

[2021-01-12 15:04] rahulc157 commented on #405
Yes I just installed the fermitools using conda create -n fermi -c conda-forge -c fermi fermitools python=3.

Now even kernal is not working, showing some library issue /envs/fermi/lib/libRIO.so: : undefined symbol: _ZN13TStreamerBase13InitStreamingEb.

I installed the threeML using
bash ./install_3ML.sh --with-fermi --python 3.7 --with-xspec -env-name threeML

What to do, I need to work with LAT

[2021-01-12 15:10] grburgess commented on #405
@rahulc157 open and issue here: https://github.com/fermi-lat/Fermitools-conda/issues

there are some work around for the issue, or you can downgrade fermitools manually to a version that is working.

[2021-01-12 19:06] rahulc157 commented on #405
Hi,
I have downgraded the fermitools but I still could not get the FermiLATLike plugin.  Can you please suggest further?

[2021-01-20 19:55] henrikef commented on #405
@rahulc157 Could you try a clean install, using the newest fermitools version 2.0.8 released today: https://github.com/fermi-lat/Fermitools-conda/wiki/Release-Notes

[2021-01-22 13:11] mingjiac opened #408 "Use of xspec model"
How to use xspec model in 3ML?

[2021-01-22 13:52] grburgess commented on #408
@mingjiac  If you have xspec installed and initialized  when you build / install astromodels, it will automatically create the link for using xspec models. You will see the messaging for this upon install.

### Usage

To use the models, just follow the steps here:
https://threeml.readthedocs.io/en/latest/notebooks/xspec_models.html

### Note:

The sometimes does not work, so if you run into issue

[2021-01-22 14:07] mingjiac commented on #408
Thank you very much for your reply! Follow the above tutorial to run an error

from astromodels.xspec.factory import *

Loading xspec models...
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
<ipython-input-19-859e515958d6> in <module>
----> 1 from astromodels.xspec.factory import *

~/miniconda

[2021-01-22 15:34] grburgess commented on #408
when you installed XSPEC, did it give you a message that it found xspec?

[2021-01-22 15:35] grburgess commented on #408
@mingjiac

        print("\n Xspec is detected. Will compile the Xspec extension.\n")
        print("\n NOTICE!!!!!\n")
        print("If you have issues, manually set the ENV variable XSPEC_INC_PATH")
        print("To the location of the XSPEC headers\n\n")
        print("If you are still having issues, unset HEADAS before installing and contact the support team")

[2021-01-22 15:37] grburgess commented on #408
You also much have heainit set when using the models.

[2021-01-22 15:52] mingjiac commented on #408
I used the command "conda install -c xspecmodels xspec-modelsonly" to install, and it can be found in the "conda list" after the installation is successful.

[2021-01-22 17:13] grburgess commented on #408
I am doing some tests... this looks like a bug.

[2021-01-23 13:19] grburgess commented on #408
@mingjiac There is an update and it should now work. could you please update your version of astromodels?

[2021-01-23 17:07] mingjiac commented on #408
Thanks for your help! The problem has been solved and it can be used normally.

[2021-01-23 17:18] #408 closed

[2021-01-23 17:19] grburgess commented on #408
Glad to help!

[2021-02-03 19:47] #392 closed

[2021-02-03 20:15] ndilalla opened #418 "Conda really slow in solving the environment with fermi on linux"
If you look here:
https://github.com/threeML/threeML/actions/runs/519551376

The linux/with-fermi combination took more than 2 hours to run while all the other jobs are much faster. It could be due to the ``iminuit<2`` version limit that we still have on conda until we tag a new version. Still investigating on this one.

[2021-02-03 20:33] ndilalla opened #419 "test_parallel_pagmo fails"
I don't know the reason but right now the test `test_parallel_pagmo` is failing even without `root` installed (see the log below).

A bit of history and context: in the past we discovered that for an unkown reason this test was incompatible with `root`. So we decided to skip it if `root` was installed on the system---and this is the reason why this test is not failing on the standard CI actions. B

[2021-02-04 17:41] grburgess opened #422 "Simulated data from LAT plugins."
## Feature Request

**Is your feature request related to a problem? Please describe.**
LAT Plug-ins need simulated data

**Describe the solution you'd like**
To have the methods added

[2021-02-11 15:36] grburgess commented on #405
@rahulc157 there has been some progress on fermipy and it should be working soon.

[2021-02-18 09:12] ivvv commented on #371
I just checked. The `threeML` is properly installed with conda and channel `conda-forge`.

However, the xspec models installation with conda still fails, exactly the same way as described in my first post.

`conda install -c xspecmodels xspec-modelsonly`

[2021-02-18 09:14] ivvv commented on #374
Just checked and the docs look fine. Can be closed.

[2021-02-18 09:16] grburgess commented on #374
@ivvv thanks! Please feel free to reopen if there are issues. The docs are now built with each change so they should be up to date. Please also note there are some tips for XSPEC users:

https://threeml.readthedocs.io/en/latest/xspec_users.html

[2021-02-18 09:17] #374 closed

[2021-02-18 10:33] grburgess commented on #371
@ivvv strange! It seems to be installing in the CI tests.

https://github.com/threeML/astromodels/runs/1910134823?check_suite_focus=true#step:7:1

We have seen intermittent issues with this. I'll try and investigate.

[2021-02-22 23:37] henrikef opened #427 "Fit (point) source positions in FermypyLike"
## Feature Request

**Is your feature request related to a problem? Please describe.**

_Not sure if this is a missing feature or a bug,_ but it looks like the fermipy plugin only updates the spectral shape, not the source positions, when parameters change. See [this function](https://github.com/threeML/threeML/blob/master/threeML/plugins/FermipyLike.py#L447). I noticed this when I tried freeing a

[2021-03-07 09:33] grburgess commented on #422
This is still active

[2021-03-10 02:08] #399 closed

[2021-03-10 19:24] grburgess commented on #419
I still need to look at this

[2021-03-10 19:26] #371 closed

[2021-03-10 19:27] henrikef opened #434 "Background normalization as nuisance parameters in FermipyLike plugin"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Normalization of the isotropic and diffuse background templates in the fermipy plugin. It should be possible to allow them to vary during the fit.

**Describe the solution you'd like**

Background normalization should be implemented as nuisance parameters as it is in the FermiLATLike plugin.

**Describe alterna

[2021-03-10 19:43] grburgess commented on #400
still working on this

[2021-03-11 01:14] #427 closed

[2021-03-11 22:54] henrikef opened #435 "emcee version incompatibility with naima"
(Not a "bug" but this was the closest template)

**Describe the issue**

The [naima](https://github.com/zblz/naima/blob/master/setup.py#L17) modeling package requires `emcee>=2.2.0,<3.0` , [threeML](https://github.com/threeML/threeML/blob/master/setup.cfg#L35) requires `emcee>=3` 😞

(I can confirm that threeML tests fail with `emcee-2.2.1`. I'll try `naima` + `emcee-3.0.2` as a workaround as I jus

[2021-03-11 22:56] henrikef commented on #435
See https://github.com/zblz/naima/issues/194

[2021-03-12 05:02] grburgess commented on #435
Yeah, or they could drop the unfolded model fitting in their code which is not needed...

[2021-03-12 07:56] grburgess opened #436 "fermipy doc failing during fit."
**Describe the bug**

This line is failing in the Fermipy documentation fitting:

https://github.com/threeML/threeML/runs/2092912814?check_suite_focus=true#step:9:111

**To Reproduce**

Run the fermipy_lat.md doc in the docs folder

**Expected behavior**

the fit should not fail?

**Screenshots**

See link above to actions.

**Desktop (please complete the following information):**

github actions.

[2021-03-12 18:15] henrikef commented on #436
Hm. I've been poking around a bit. This is what I've found so far:

* It's not a problem with the fit/minimizer. ThreeML's `FermipyLike.get_log_like()` (which is essentially a wrapper for Fermipy's `gta.like.logLike.value()` ) returns a `nan` value, even before the first fit step.
* The problem goes away if we consider smaller search radii for the LAT catalog (18 degrees or smaller). **As a workar

[2021-03-12 20:47] henrikef commented on #436
Ok. I think I tracked the issue down to one source, `PSR_J0622p3749`.

Calling `model.remove_source("PSR_J0622p3749")` before assigning the model makes the fit work.

For reference, this is how I identified the source causing issues:

[code]
The output for the source in question was

[code]

 `Failed to create spline` is from fermipy.utils.get_parameter_limits() which is called for example from `g

[2021-03-12 21:06] henrikef commented on #436
I wonder if having 0 predicted flux in some energy bins is a problem. Maybe we can try setting it to some small number, e.g. `1e-300`, instead?

[2021-03-13 02:09] henrikef commented on #436
👊

Docs are building now, still getting some conda errors.

[2021-03-13 06:30] grburgess commented on #436
Thanks!

[2021-03-13 06:30] #436 closed

[2021-03-16 00:03] henrikef opened #439 "np.bool deprecation warning"
We should replace `np.bool` with `bool` or `np.bool_` in the code.

**Is your feature request related to a problem? Please describe.**

I'm getting ~15k of

[code]

in the tests.

We use `np.bool` in only four places in the code:

* https://github.com/threeML/threeML/blob/master/threeML/plugins/SpectrumLike.py#L153
* https://github.com/threeML/threeML/blob/master/threeML/utils/time_series/time_ser

[2021-03-16 14:33] grburgess opened #441 "Add ptemcee sampler"
## Feature Request

**Is your feature request related to a problem? Please describe.**
No. I would like to add the ptemcee sampler as an option:
https://github.com/willvousden/ptemcee

**Describe the solution you'd like**
The addition of the sampler

**Describe alternatives you've considered**
There are no alternatives

**Teachability, Documentation, Adoption, Migration Strategy**
I will simply ad

[2021-03-17 21:50] henrikef opened #444 "fermitools and python 3.8 in the CI tests"
**Describe the issue**

We're getting tons of conflicts in the python 3.8 tests, e.g. https://github.com/threeML/threeML/pull/442/checks

Turns out, the fermitools require python 3.7: https://github.com/fermi-lat/Fermitools-dependencies/blob/master/meta.yaml#L32

Can we fix the tests/CI environment so that we only try to install fermitools/fermipy when testing python 3.7 ?

**To Reproduce**
Look a

[2021-03-17 22:29] omodei commented on #444
Yes, fermitools should only be tested on 3.7. We are changing the workflow (not sure why python was bumped up to 3.8...)

[2021-03-18 01:08] ndilalla commented on #444
With the new fix the master is now building correctly. @henrikef could you try merging the master on your branch to see if it works?

[2021-03-20 21:20] #444 closed

[2021-03-26 06:21] grburgess commented on #404
@cbrisboi will there be any progress on this? Otherwise, we need to go ahead and close or assign someone else.

[2021-03-26 19:34] josephsaji opened #449 "import threeML fails"
Even after a successful installation of threeML, `from threeML import *` end up in an error.  error is given as
ModuleNotFoundError: ' no module named naima'
AttributeError : ''config object has no attribute logging"

installation was done using miniconda. have tried ti install nyma package manually, but still the error persist.

[2021-03-26 19:41] henrikef commented on #449
Hi @josephsaji , could you please post the entire output you get after you tried to import threeML?

Also, could you please post the output of the following bash commands: `conda list | grep threeml` and `conda list | grep astromodels` and `python --version`.

[2021-03-26 21:33] josephsaji commented on #449
hi,
thanks for the quick reply.
I have attached the screenshots of this version check as well as error
along with this mail. pls mail me if anything more is required.

On Sat, Mar 27, 2021 at 1:11 AM Henrike F ***@***.***> wrote:

[2021-03-27 20:57] henrikef commented on #449
I see. This should be fixed in the next tag. In the mean time, please try updating to the latest versions of threeML/astromodels from github:

[code]

(Btw, the real problem is not that naima is missing (which should only lead to a warning), but rather that it runs into an error when it tries to report that naima is not available. We recently updated the way error messages are logged, and it seems

[2021-03-29 02:27] #405 closed

[2021-03-31 03:19] jasonfan1997 opened #451 "OverflowError when positive error is inf"
**Describe the bug**
I got some customized plugin and require to run some background trials(meaning no signal). Under this case the error from the MLEResults will be inf sometime. Then when it tries to display the result, the uncertainty_formatter in io will just throw a OverflowError: cannot convert float infinity to integer
Getting the dataframe is fine but it is the display() that tries to form

[2021-04-02 06:01] asattools commented on #449
Hi,
I was getting the same problem for a long time and tried a lot to fix it. After the naima installation, we still get a problem for pygsl. While trying to install pygsl, I am not able to install it in python 3.7 which is installed with threeML from conda-forge

Python 3.7.10 | packaged by conda-forge | (default, Feb 19 2021, 15:59:12)
[Clang 11.0.1 ] on darwin

However, the installation of pygs

[2021-04-07 22:43] ndilalla commented on #418
After a bit of investigation it turned out that the problem was related to `root`. I have yet to understand the reason but on ubuntu the latest compatible version apparently is `root 6.22.2` while on mac it uses `root 6.22.6`. Pinning the root version to 6.22.2 does the trick and vastly reduces the time conda spends on solving the environment. I am closing this issue.

[2021-04-07 22:43] #418 closed

[2021-04-10 05:45] grburgess commented on #434
Was this added in any of the new PRs?

[2021-04-12 19:52] asattools commented on #449
Hi,

It is working now after the installation with updated install_threeML.sh file.

Thanks a lot.

[2021-04-13 06:32] #449 closed

[2021-04-14 22:21] hayalaso opened #457 "Installation link in README.md doesn't point to the right location"
The link for the installation in the README.md file points to `https://threeml.readthedocs.io/en/latest/installation.html`.
It should be `https://threeml.readthedocs.io/en/stable/notebooks/installation.html`

[2021-04-16 13:38] grburgess commented on #457
Thanks. Fixed

[2021-04-16 13:38] #457 closed

[2021-04-20 06:12] grburgess commented on #451
@jasonfan1997 this should be fixed now. If you still have issues, please reopen.

[2021-04-20 06:12] #451 closed

[2021-04-20 06:14] grburgess commented on #441
I've decided against this in the end as it is not maintained well.

[2021-04-20 06:14] #441 closed

[2021-05-08 02:23] #422 closed

[2021-05-09 02:24] #419 closed

[2021-05-09 02:24] #400 closed

[2021-05-12 08:25] domeckert opened #460 "OGIPLike won't accept background model"
Hi everyone,

I attempted to model the background of an XMM spectrum and pass the background model to an OGIPLike object as described in [this tutorial](https://threeml.readthedocs.io/en/latest/notebooks/Background_modeling.html#Using-a-profile-likelihood). However, when trying load "background_plugin" instead of a background file, I get the following error:

![image](https://user-images.githubuse

[2021-05-13 13:39] #460 closed

[2021-05-13 13:40] grburgess commented on #460
@domeckert the fix is in the master branch, and will be pushed to pypi in the next release. Let me know if there is still an issue.

[2021-05-14 14:58] domeckert commented on #460
Fixed. Thanks a lot @grburgess

[2021-05-21 02:35] #404 closed

[2021-05-31 04:34] #434 closed

[2021-06-04 03:43] #435 closed

[2021-06-10 06:05] jlzhang001 opened #466 "Can threeML &HAL plot tsmap and do morphology ?"
## Data Analysis Question
I am using HAL with HAWC crab data which is supported by HAWC website. I want to plot the tsmap with ROI 3degree. How to do it? and is there routines to do morphology?

[2021-06-15 14:48] cbrisboi commented on #466
Hi @jlzhang001!

There is not yet a routine to plot a TS map in hal. It is a feature that came up a couple of months ago in a discussion I had with @hayalaso, although we did not implement it at that time. I do agree however that we should probably have a feature like it in hal.

When you say "routines to do morphology" can you be a little more specific? If you mean trying to see if (for example)

[2021-06-15 15:09] jlzhang001 commented on #466
I am tring to compute TS for each pixel of the ROI, then I can plot TS map. But It's not convenient and time costing.

For the morphology​, that's I need.

[2021-06-16 17:22] cbrisboi commented on #466
Yes. Doing it manually by setting new models at each location is very time consuming. I think we need to carefully consider how to approach a "fast" version, which would specifically fit a model at each location

[2021-06-16 20:56] henrikef commented on #466
I think Colas worked on this a while back (when HAL was still a 👶 ) and found that it was very slow. You might be able to find some (internal) presentations still @cbrisboi. Also, HAL is faster now than it was at that time.

[2021-06-23 18:10] omodei opened #469 "Negative Flux and disable log transformation"
## Feature Request

Some users asked the possibility to have negative flux when doing their analysis, but the log transformation avoids the possibility to do this. Also corner plots won't work.

[2021-06-24 07:37] grburgess commented on #469
handled in https://github.com/threeML/astromodels/issues/163

[2021-07-15 15:04] chenjiaming5821 opened #472 "Model selection."
Hi! I am using Bayesian MCMC to analyze spectra. Which statistical measurement values (AIC, BIC, DIC) should I use to select the model?

[2021-07-15 16:22] grburgess commented on #472
In general, even though we report all of these values... one should steer away from the BIC. The AIC should not be used with bayesian fits.

DIC is a predictive measure. It can only tell you that a model relatively better predicts the data than another one... but not how much better. It also has caveats as it is slow to converge.

In general, posterior predictive checks are are good way to assess

[2021-07-15 17:30] chenjiaming5821 commented on #472
Thank you very much for your reply. Sometimes DIC and PDIC are negative, how to compare with other models?

[2021-07-15 18:27] grburgess commented on #472
if PDIC (the effective number of parameters) is negative, this is a sign that the median of the posterior is far from the mode. Thus, it will be difficult to do model comparison.

[2021-07-16 08:56] chenjiaming5821 commented on #472
Thank you very much, your answer is of great help to me !

[2021-07-17 05:54] grburgess commented on #466
Is there any update on this @cbrisboi @henrikef @jlzhang001 ?

[2021-07-19 20:18] xboluna opened #473 "XSPEC models cannot be retrieved by load_analysis_results"
XSPEC models provided by xspec-modelsonly aren't initialized through FunctionMeta in function.py and thereby are not added to the _known_functions dictionary. This dictionary is used to assemble the expression of a saved analysis_results in load_analysis_results (which is done through get_function in function.py).

Steps to reproduce the behavior:
1. Create a model which includes XSPEC functions (

[2021-07-20 04:33] grburgess commented on #473
Hi @xboluna quick question. You do have xspec initialized when you reload the model?

[2021-07-20 10:01] grburgess commented on #473
@xboluna I just added a new test in a branch of astromodels that should cover this issue:

https://github.com/threeML/astromodels/pull/164/files

So in principle it should be ok..

[2021-07-20 18:10] xboluna commented on #473
Oops! This was my mistake -- I had thought it would initialize with `from astromodels import *`. Thanks for looking into this!

[2021-07-20 18:10] #473 closed

[2021-07-20 18:16] grburgess commented on #473
No worries @xboluna this was a good test to add in astromodels. You never know when something else might make this fail.

[2021-07-21 14:47] mingjiac opened #474 "Obtain light curve"
Hi! Can 3ML obtain the light curve of a specific energy channel?

[2021-07-21 14:50] grburgess commented on #474
@mingjiac in principle yes, but the feature is not integrated into he code yet. it is possible that @BjoernBiltzinger has some code to do this.

Alternatively, a pull request to add this would always be welcome!

[2021-07-22 09:36] grburgess commented on #474
@mingjiac there is now the ability to do this in the master branch thanks to @BjoernBiltzinger This will be merged into the next release. You can install this version from GitHub though.

[2021-07-22 09:36] #474 closed

[2021-07-25 09:35] kchoX14 commented on #472
It seems like PPC is quite similar to parametric bootstrapping with MCMC simulations (using the goodness of fit plugin of threeML), except that GoF bootstrap takes the current model while PPCs sample directly over the posterior. Am I right is thinking so? Moreover, the PPC check with "twopc" seems to be more of a visual check (like cumulative QQ plots of observed vs model predicted counts in BXA).

[2021-07-25 09:49] kchoX14 opened #476 "Compatibility with empirical or PCA-based BXA background"
Hi. After going through the threeML webpage, I find that having a joint fit (OGIP-like plugin) with background and source+background spectra is more common because I could not locate empirical models that can be directly constructed for mission-specific data in the X-rays (like XMM Newton, NuSTAR, Suzaku, Swift or Chandra). This is available over BXA, which provides both empirical models [(https:/

[2021-07-25 10:04] grburgess commented on #476
In theory yes, there is a way to have background models: https://threeml.readthedocs.io/en/stable/notebooks/Background_modeling.html#Modeling-the-background

If the format for the background can be specified, then we can help you to include these into 3ML (or astromodels.) Please let me know exactly what you would like to do and we can extend the functionality if it is not already there.

On AIC:

[2021-07-25 10:36] grburgess commented on #472
Indeed, PPCs are not really a selection tool, but a model fitness tool. There are ways to compress PPCs into numerical checks by computing Bayesian tail probabilities, for example. However, these are not well understood as their distribution is not guaranteed to be uniform ( https://projecteuclid.org/journals/electronic-journal-of-statistics/volume-7/issue-none/Two-simple-examples-for-understandin

[2021-07-25 14:42] kchoX14 commented on #476
The background modeling over threeML currently treats the background just like any spectrum and required modeling similarly. On the contrary, BXA provides backgrounds (empirical and PCA-based) for specific missions. There are JSON files that take care of the detector information.

I guess my requirement here would depend on whether it is more advisable to have the background modeled separately ove

[2021-07-25 14:56] kchoX14 commented on #472
I understand PPCs are a crude visualization tool like BXA's QQ plots. But why is there a need to check once with no background invokved and again wity the background subtracted spectrum? How much of a deviation of the PPC fit against the posterior data is significant enough to compare two models (nested and non-nested alike) and rule out one over the other? There should be some simple factor or no

[2021-07-25 15:06] grburgess commented on #476
@kchoX14  OGIPLike is a subclass of spectrum like which is just an interface that reads in the observed spectrum, background spectrum,  response and arf files. The underlying likelihood is the same.

The background modeling for the OGIP/SpectrumLike plugins depends on the how the input data are distributed. If there is no background model specified, then profile likelihoods are used. If a backgrou

[2021-07-25 15:07] grburgess commented on #472
@kchoX14 I'm not sure what you mean by a two step process.

[2021-07-25 15:10] kchoX14 opened #477 "Residual Plots, Local Models, Source Positioning"
**Residuals:**
I can see the residual plots (bottom panels) are unbinned in the plot_counts command in the examples provided. Since threeML does not require specifying the data likelihood, it is not trivial for one to know how the residuals (in terms of sigma) are being calculated. All we've done so far is "_[data - model]/error_" with chisquared as the fit statistic (JointLikelihood). But that is

[2021-07-25 15:15] kchoX14 commented on #472
I mean, in the **twopc** page you have, you show that the PPC tests have been done twice:  once over the background-subtracted spectrum, and again over just the source+background spectrum. That is what I meant by a two-step process.

[2021-07-25 15:21] grburgess commented on #477
What is meant by unbinned? Which plot_counts cmd? 3ML chooses the likelihood based on the distribution of the data. The residuals computed are also based on the likelihood. For Gaussian likelihoods, indeed the residuals are data - model / data_uncertaintiy. But for other likelihoods, it is different and computed correctly for each case.

Currently, one can specify ```min_rate``` in the residual pl

[2021-07-25 15:22] grburgess commented on #472
These are just options. For very dominant backgrounds, the uncertainties in the background can overwhelm the uncertainties in the source. Thus, in those cases, deviations from the model are easier to see via subtraction.

[2021-07-25 15:23] kchoX14 commented on #476
“If I understand correctly, the PCA models are essentially templates with a normalization parameter. These are also spectral models and could be wrapped with astromodels' template model class.”

@grburgess I'd love to understand this part bettwr on how to use that template class. The PCA-based background models are all internally some powerlaw of flatter continuum withultiple Gaussians that are at

[2021-07-25 15:28] kchoX14 commented on #476
“This is an area of open research in statistics.... its not always an easy topic. The above linked references go deeply into the topic.”

@grburgess in the meantime then, what is the best practice one should follow in order to ensure model selection and comparison don't get compromised? Without the ∆AIC or a QQ-like (but cleaner) visual process for the goodness-of-fit beyond the MCMC bootsrapping